<html>
	<head>
		<script src="{{ url_root }}/media/js/dojo.js" type="text/javascript"></script>
	</head>
	<body>
		
		<script>
			function logSocialEvent(details)
			{
				var parameters = new Object();
				parameters.os_id = "{{os_id}}"
				parameters.log_type = '9'
				parameters.details = details
				dojo.xhrPost({
					url: "{{url_root}}/log/userevent/",
					content: parameters,
					handleAs: "json",
					load:function(response, ioArgs)
					{
						//alert("log Sent");
					},
					error:function(data)
					{ // This happens on a 500 error or alikes.
						//alert('Error: failed sending log data');
					},
					sync: true
				});
			}
			logSocialEvent("Application return OK")
			/* if parent window has an attribute called auth_processed and is a function
			 * call it.
			 */
			try {
				if (window.opener && typeof(window.opener.auth_processed) == 'function') {
					window.opener.auth_processed();
				}
			}
			catch(err)
			{
				logSocialEvent("auth_process call FAILED")
			}
			window.close()
		</script>
		<p>Return to the Application and Hit Enter</p>
	</body>
</html>