{% extends "admin_base.html" %}

{% block scripts %}
<script type="text/javascript">
	var required_data = ['new_comments_prev_bl']
	$(document).ready(function()
	{
		$("#osTable").hide();
		$("button").hide();
		$("#message").hide();
		$("#disc_block").html(output_disc_header())
	});
	
	retrieve_admin_content(function(data)
	{
		if(data.success)
		{
			var blacklisted = data.data.new_comments_prev_bl;
			populateTable(blacklisted);
			populate_disc_header(data.data.discussion_statements, function(data)
			{
				$('#tableBody').html("")
				var blacklisted = data.data.new_comments_prev_bl;
				populateTable(blacklisted);
			})
		}	
	}, discussion_id)
	/*
	// Get  Feedback Comments Data
	dojo.xhrGet({
			url: "{{url_root}}/admincontent/1/",
			handleAs: "json",
			load:function(response, ioArgs)
			{
				if (response.success)
				{
					var blacklisted = response.data[3];
					populateTable(blacklisted);					
				}	
			},
			error:function(data)
			{ // This happens on a 500 error or alikes.
				alert('Error: failed sending data');
			}
		});
	*/
	function populateTable(blacklisted) 
	{
		if(blacklisted.length == "")
		{
			$("#message").show();
		}
		else
		{
			$("#osTable").show();
			$("button").show();

			// display the comments
			for (var i=0; i<blacklisted.length; i++) 
			{
				var row = document.createElement('tr');
				var id = blacklisted[i].user_id + "-" + blacklisted[i].comment_id; 
				row.setAttribute("id", id);
								
				var inputTd = document.createElement('td');
				var checkBox = document.createElement('input');
				checkBox.setAttribute("type", "checkbox");
				inputTd.appendChild(checkBox);
				
				var user = document.createElement('td');
				user.innerHTML = blacklisted[i].username;
				
				var comment = document.createElement('td');
				comment.innerHTML = blacklisted[i].comment;
				
				row.appendChild(inputTd);
				row.appendChild(user);
				row.appendChild(comment);
				dojo.byId('tableBody').appendChild(row);
			}
			$("#osTable:has(tbody tr)").tablesorter({headers: { 0:{sorter: false}}, widgets: ['zebra']});
		}
	}
</script>
{% endblock %}

{% block mainContent %}

    <h1> Comments from a User With a Blacklisted Response </h1>
    <p>
  	<span id='disc_block'></span>
   <div class="buttons">
    <button type="submit" class="positive" onClick="processComment('{{url_root}}/approvecomment/')">
        <img src="../../media/images/yes.png" alt=""/> 
        Remove from Admin Panel
    </button>
    
    <button type="submit" class="negative" onClick="processComment('{{url_root}}/blacklist/')">
        <img src="../../media/images/no.png" alt=""/>
        Blacklist Response
    </button>
</div>
	<p id="message">There are no comments from a user with a blacklisted response</p>
   <table id="osTable" class="tablesorter"> 
    <thead> 
    <tr> 
        <th width="5%"><input type="checkbox" id="checkAll"/></th>
        <th width="25%">User ID</th>  
        <th width="70%">Response</th>                 
    </tr> 
    </thead> 
    <tbody id="tableBody"> 
    </tbody> 
</table>
    </p>
{% endblock %}
