<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Access Denied</title>
<link href="../../media/css/styles.css" rel="stylesheet" type="text/css" />
<script src="../../media/js/main.js" type="text/javascript"></script>
</head>

<body class="opinionSpace">

<div id="container">
  <div id="header">
    <h1>Access Denied</h1>
  <!-- end #header --></div>
  <div id="mainContent" style="margin-left:10px">
    <h1> Login Error </h1>
    <p>
	You do not have the appropriate privileges to complete this request.
    </p>
	<!-- end #mainContent --></div>
	<!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats --><br class="clearfloat" />
  <div id="footer">
    <p>Footer</p>    
  <!-- end #footer --></div>
<!-- end #container --></div>
</body>
</html>
