/* opinionspace.css - contains styles for the Opinion Space project */
/*
BG- 76b9b6
White- f5ebdf
Brown- 4e300f
*/
html {
  width: 320px;
  overflow-x: hidden;
}

@font-face {
	font-family: 'novecento-medium'; 
	src: url('title-fonts/novecento_medium.otf'),
		 url('title-fonts/novecento_medium.woff'),
		 url('title-fonts/novecento_medium.svg'),
		 url('title-fonts/novecento_medium.ttf'),
		 url('title-fonts/novecento_medium.eot');
}

@font-face {
	font-family: 'novecento-light'; 
	src: url('title-fonts/novecento_light.otf'),
		 url('title-fonts/novecento_light.woff'),
		 url('title-fonts/novecento_light.svg'),
		 url('title-fonts/novecento_light.ttf'),
		 url('title-fonts/novecento_light.eot');
}

@font-face {
	font-family: 'novecento-normal'; 
	src: url('title-fonts/novecento_normal.otf'),
		 url('title-fonts/novecento_normal.woff'),
		 url('title-fonts/novecento_normal.svg'),
		 url('title-fonts/novecento_normal.ttf'),
		 url('title-fonts/novecento_normal.eot');
}

.margin{
	background-color: #DDDDDD
	position: absolute;
	z-index: -500;
}

.inst-score {
	display:none;
	
}

.top-bar{
    display:none;
    width: 100%;
    background-color: rgba(255, 255, 255,0.0);
}

.slider-agree-labels{
	font-size:11px;
	
	color: #f5ebdf;
}

.slider-range-labels{
    position: relative;
    top: -3px;
    z-index: -1;
    font-size:10px;
    font-weight: bold;
    
    color: #f5ebdf;
}

.grade-labels {
    position: absolute;
    z-index: -1;
    top: -1px;
    font-size:12px;
    font-weight: bold;
    
    color: #f5ebdf;
    background:none;
}

.rate-dot-labels {
    position: absolute;
    z-index: -1;
    top: -15px;
    font-size:24px;

    color: #f5ebdf;
    background:none;
}

#grades div {
	float: left;
	padding-right: 0px;
	left: 0px;
}

.alignleft {
	padding-left: 1px;
	float: left;
}
.alignright {
	padding-right: 1px;
	float: right;
}

#entered-comment{
	display:inline;
	color: #000000;
	background-color: #ffffff;
	text-shadow: none;
	width: 100% !important;
	height: 200px !important;
	font-size: 16px;
	border-radius: 0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* This prevents the jQuery navbar buttons from staying pressed */
.ui-navbar .ui-btn-active {
	border: 1px solid       #222;
	background:             #76b9b6;
	
	color:                     #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #555), to( #333));
	background-image: -webkit-linear-gradient(#555, #333);
	background-image:    -moz-linear-gradient(#555, #333);
	background-image:     -ms-linear-gradient(#555, #333);
	background-image:      -o-linear-gradient(#555, #333);
	background-image:         linear-gradient(#555, #333);
}

.ui-navbar .ui-btn-inner {
	padding: 0px !important;
}

.ui-navbar .ui-btn {
	border: 1px solid       #222;
}

/** Testing out leaderboard*/
table.pretty {
	margin: 0 auto;
	border-collapse: collapse;
}
table.pretty th, table.pretty td {
	border: 1px #ADD8E6 solid;
	padding: 0.2em;
}
table.pretty th {
	background: #ADD8E6;
	text-align: left;
}
table.pretty caption {
	margin-left: inherit;
	margin-right: inherit;
}


/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#splash {
		width: 50%;
		height: auto;
		padding-top: 30px;
	} 
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#splash {
		width: 60%;
		height: auto;
	} 
}

/* Landscape phones and down */
@media (max-width: 480px) {
	html {
		font-size: 14px;
	}
	.answer {
		font-size: 14px;
	}


	#splash {
		width: 70%;
		height: auto;
	} 

}

/*label.ui-input-text {
	font-size: 12px;
	}*/

	/** TODO: this isn't fixing the line-height */
	/*.ui-input-text {
		width: 98% !important;
		height:30px;
	} */


	img.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.score-label, .score-value,.num-rated-by,.num-label{
		font-size: 18px;
	}
	
	.stats-label,.logout-label{
		font-size: 15px;
		font-family: Arial;
		line-height: 18px;
		padding-top: 7px;
	}
	
	.home-label{
		font-size: 18px;
	}
	

	#editCommentBox {
		width: 100%;
	}

	/* get the bootstrap version of these */
	.alert-danger,.alert-error {
		color: #b94a48;
		background-color: #f2dede;
		border-color: #eed3d7;
	}

	.home-btn{
	    padding-top: 0px !important;
	}

	.menubar {
		display: none;
		width: 100%;
		top: 0px;
		left:0px;
		padding-top: 7px;
        position: fixed;
        z-index: 999;
        background-color: #000000;
	}

	.ui-slider-input {
		display:none !important;
		width:1px !important;
		height:1px !important;
	}
	.ui-slider-track {
		width:99% !important;
		float:left;
		margin: 0 !important;
	}
	
	.ui-slider .ui-slider-handle {
		cursor: default;
		height: 2.2em !important;
		position: absolute;
		width: 2.2em !important;
	}

	html {
		height: 100%;
	}

	body {
		/*font-family: "Helvetica Neue", novecento-normal, sans-serif;*/
		background: #76b9b6;
		height: 100%;
		padding: 0 !important;
		/* use helvetica neue, bootstrap style */
	}


	strong {
		font-weight: bolder;
	}
	strong.go-back {
		color: #54D6F6;
		cursor: pointer;
	}

	#score{
		
	}

	.frame {

		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		display: none;
		background: #76b9b6;
	}

	.header {
		color: #f5ebdf;
		text-shadow: none;
		
		width: 95%;
		font-size: 13px;
		/*padding: 5px 0px;*/
		text-align: left;
		line-height: 14px;
		padding-left: 6px;
		padding-bottom: 5px;
		padding-top: 5px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		/*margin-bottom: 20px; */
	}

	.instructions{
		/*position: absolute;*/
		color: #FFFFFF;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		z-index: 999;
		text-shadow: none;
		font-size: 17px !important;
		
		width: 100%;
		line-height: 22px;
		padding-bottom: 5px;
		padding-top: 5px;
		display:none;
	}

	.instructions2{
    		/*position: absolute;*/
    		color: #FFFFFF;
    		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    		left: 0px;
    		z-index: 999;
    		text-shadow: none;
    		font-size: 17px !important;
            
            width: 100%;
            line-height: 20px;
            padding-bottom: 5px;
            		padding-top: 5px;
    		display:none;
    }

    .instructions3{
        		/*position: absolute;*/
        		color: #FFFFFF;
        		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        		left: 0px;
        		z-index: 999;
        		text-shadow: none;
        		font-size: 17px !important;
                
                width: 100%;
                line-height: 20px;
                padding-bottom: 5px;
                		padding-top: 5px;
        		display:none;
        }
	
	.reportcard{
		/*background-color: #FAEBCD;*/
		/*font-family: "Courier New", Courier, monospace;*/
		color: #4e300f;
		text-shadow: none;
		height: 100%;
		width: 100%;
		

	}

	.default-left-padding{
	    padding-left: 10px;
	    width: 95% !important;
	}

	.small-left-padding{
    	    padding-left: 5px;
    	    width: 97% !important;
    	}
	
	.comment-panel{
		/*background: url('../img/cafe/cafe_notebook.png') repeat-y;*/
		background-color: #fcf0de;
		color: #222222;
		text-shadow: none;
		width: 100%;
		height: 100%;
	}
	
	.cardtable{
	    padding-right: 5px;
		border-collapse:collapse;
		position: relative;
		left: -4px;
	}

	.slider-row{
	padding-top: 20px;
	padding-bottom: 15px;
	}

	.ui-loader{
	    z-index: 999 !important;
	}

	.title-table {
	    width:299px;
	    background-color: #396d6b;
	    border: solid 0px #76b9b6;
	    color: #f5ebdf;
	}

	.title-table td{
    	    border: solid 3px #76b9b6;
    	    color: #f5ebdf !important;
    	    padding-bottom: 5px;
    	}

    .grade-table {
    	    width: 299px;
    	    background-color: #76b9b6;
    	    /*cbe2e2*/
    	    border: solid 0px #f5ebdf;
    	}

    	.grade-table td{
        	    border: solid 3px #76b9b6;
        	}

	.stats-table {
    	    width:95%;
    	    font-size:15px;
    }

    .stats-table-title {
        color:#000000;
        background-color: #FFC501;
    }

	.title-table-label1 {
    	    text-align: center;
    	    vertical-align: middle;
    	    color: #76b9b6;
            font-size:13px;
            font-weight: bold;
    }

    .title-table-label2 {
            vertical-align:middle;
            width: 60px;
            text-align: center;
            vertical-align: middle;
            color: #76b9b6;
            font-size:13px;
            font-weight: bold;
    }
	
	.grade{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		color: #4e300f;
		text-shadow: none;
		font-size: 28px;
		line-height: 30px;
		font-weight:normal;
	}
	
	.grade2{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		color: #4e300f;
		text-shadow: none;
		font-size: 28px;
		line-height: 30px;
		font-weight:normal;
	}
	
	.regforminput{
		font-size: 32px !important;
		margin: 0px !important;
		padding-top: 0px !important;
		font-weight: bold;
	}

	.reg_form{
	    padding-left: 20px !important;
	    padding-right: 20px !important;
	}

	.login-header, .reg-header, .slider-header{
		background-color: #ADD8E6;
		z-index: 2;
		width: 100%;
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		color: black !important;
	}

	.score {
		visibility: hidden;
		display: none;
	}

	.login, .endsliders, .register, .rate{
	 /* piggy backing the the new divs here for now,  .stats, .help*/
		display: none;
		position: fixed;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
			background-color: rgba(28,25,51,1.0);
		color: #ffffff;
		/*background: #76b9b6;*/
		/*background-image:url('../img/cafe/capitol_clean.jpg');*/
		z-index: 999;
		overflow-y: auto;
		overflow-x: hidden;
		text-align: center;
		text-shadow: none;
		background-size: cover;

	}

	.my-comment, .stats, .help, .leaderboard, .comment-input{
    	 /* piggy backing the the new divs here for now,  .stats, .help*/
    		display: none;
    		position: fixed;
    		top: 0;
    		right: 0;
    		width: 100%;
    		height: 100%;
    		color: white;
    		background-color: #666666;
    		/*background-image:url('../img/cafe/capitol_clean.jpg');*/
    		z-index: 999;
    		overflow-y: auto;
    		overflow-x: hidden;
    		text-align: center;
    		text-shadow: none;
    		background-size: cover;

    	}

	.slider-padding{
	    clear: both;
	    padding-bottom: 40px;
	}

	.endsliders-next-btn{

		width: 100px !important;
		display: inline-block;
		margin-left: 10px;
	}

	.landing {
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-image:url('../img/cafe/capitol-landing7.jpg');
		background-size: cover;
		/*background-image:url('../img/cafe/cafe_bg.jpg');*/
		background-color: #ffffff;
		/*background: #76b9b6; Old browsers */
		overflow: none;
		z-index: 999;

	}

	.landing-img-div{
	text-align: right;
	float: right;
	width: 25%;
	position: relative;
	top: -45px;
	left: -9px;
	}

	/*.landing-img-title{
	color: #FFFFFF;
	background-color: rgba(0,0,0,.75);
	padding: 10px;
	font-size: 36px;
	text-shadow: none;
	line-height: 50px;
	text-transform: uppercase;
	width: 100%;
	font-weight: 300;
	letter-spacing: 3px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}*/

	.landing-img-title{
	color: #FFFFFF;
	background-color: rgba(27,46,91,0.85);
	padding: 10px;
	font-size: 36px;
	text-shadow: none;
	line-height: 46px;
	text-transform: uppercase;
	width: 100%;
	font-weight: 300;
	letter-spacing: 2px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}

	.landing-img-txt{
	color: #121212;
	background-color: #f5f5f5;
	font-size: 18px;
	text-shadow: none;
	text-align: left;
	max-width: 470px;
	padding: 15px;
	height: 100px;
	line-height: 26px;
	position: absolute;
	bottom: 0px;
	letter-spacing: 1px;

	}

	.button-div {
		background: #1b2e5b;
		border:0px solid #FFFFFF;
		border-radius:7px;
		width: 170px;
		font-weight: normal;
		font-size: 24px;
		line-height: 44px;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 5px;
		text-shadow: none;
		letter-spacing: 3px;
		text-transform: uppercase;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		/*position: absolute;
		bottom: 20px;*/
	}

		.skip-btn {
		background-color: rgba(255,255,255,0.1);
		border: 2px solid white;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		width: 120px;
		border-radius:7px;
		font-weight: normal;
		font-size: 18px;
		line-height: 32px;
		text-align: center;
		color: #FCFCFC;
		margin-bottom: 5px;
		text-shadow: none;
		z-index: 999;
		position: absolute;
		letter-spacing: 2px;
		text-transform: uppercase;
		bottom: 60px;
		right: 15px;
		/*position: absolute;
		bottom: 20px;*/
	}

		.button-div-small {
		background: #1b2e5b;
		border:1px solid #FFFFFF;
		border-radius:10px;
		width: 80px;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: #000000;
		margin-bottom: 5px;
		text-shadow: none;
		/*position: absolute;
		bottom: 20px;*/
	}

	.capitol-bg{
		width: 100%;
		max-width: 350px;
	}

		.button-div-red {

			background: #1b2e5b; 
		border: 0px solid black;
		border-radius:10px;
		width: 220px;
		font-weight: normal;
		font-size: 26px;
		line-height: 50px;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 5px;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-shadow: none;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		/*position: absolute;
		bottom: 20px;*/
	}

		.button-skip {
		border:1px solid #FFFFFF;
		background-color: rgba(100, 100, 100,0.25);
		border-radius:24px;
		line-height: 50px;
		font-size: 20px;
		text-align: center;
		width: 55px;
		opacity: 0.5;
		margin-right: 2px;
		margin-left: 2px;
		margin-bottom: 2px;
		margin-top: 2px;
		/*position: absolute;
		bottom: 20px;*/
	}

	.byline{
	font-size: 11px;
	font-color: #396d6b;
	line-height: 13px;
	padding-top: 5px;
	}

	.landing-disclaimer{
	clear: both;
	position: relative;
	top: -35px;
	font-size: 12px;
	font-family: sans-serif;
    color: #4e300f;
    text-shadow: none;
    line-height: 15px;
	text-align: center;
	max-width: 95%;

	/*padding-left: 10px;*/
	}

	.error_username {
		position: fixed;
		top: 0;
		right: 0;
		background-color: #E7E1D8;
		z-index: 999;
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	.scorebox{
		text-shadow: none;
		display: none;
		color: #000000;
	}
	
	.scorebox-fake{
		text-shadow: none;
		width: 250px;
		color: #000000;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
		background-color: rgba(255,255,255,.7);
	}

	.slider-grade-val{
		border:1px solid #FFFFFF;
		border-radius:22px;
		line-height: 45px;
		font-size: 20px;
		text-align: center;
		width: 45px;
		float:left;
		margin-right: 2px;
		margin-left: 2px;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.registerpanel{
		color: #f5ebdf;
		text-shadow: none;
		height: 100%;
	}
	
	.edit-comment-panel{
		color: #f5ebdf;
		text-shadow: none;
		width: 100%;
	}
	
	.loginpanel{
		background-color: #FAEBCD;
		color: #f5ebdf;
		
		text-shadow: none;
		text-align: center;
		width: 90%;
		height: 100%;
		padding-right: 20px;
		padding-left: 10px;
		padding-bottom: 20px;
	}

	/*.login { 
		text-align: center;
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #E7E1D8;
		padding-bottom: 20px;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 9999999;

	}*/

	.logout {
		display:none;
		text-align: center;
		overflow-y: auto;
		overflow-x: hidden;
		text-align: left;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #fcf0de;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		line-height: 26px;
		letter-spacing: 2px;
		font-size: 18px;
		overflow: auto;
		z-index: 999;
	}

	.loading{
		text-align: center;
		position: fixed;
		left: 0;
		top: 0;
	/*bottom: 0;
	right: 0; */
	color: #f5ebdf;
	width: 100%;
	height: 100%;
	background-color: #76b9b6;

	padding-top: 20px;
	padding-bottom: 20px;

	overflow: auto;
	z-index: 99999;
	}

.landing-header {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-shadow: none;
	color: #f5ebdf;
	font-size: 42px;
	text-align: center;
	width: 100%;
	line-height: 42px;
}

.rc-sub-header {
    text-align: center;
    padding-bottom: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: 95%;
    max-width: 400px;
    color: #4e300f;
    padding-left: 7px;
}

.basic-header {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-shadow: none;
	text-align: center !important;
	color: #000000;
	font-size: 28px;
	line-height: 32px;
}

.basic-header2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    	text-shadow: none;
    	text-align: left !important;
    	color: #CCCCCC;
    	font-size: 18px;
    	line-height: 26px;
    	letter-spacing: 2px;

    	padding: 20px;
}

.basic-sub-header {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-shadow: none;
	color: #f5ebdf;
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.basic-sub-sub-header{
font-size: 16px;
padding-left: 7px;
padding-right: 7px;
padding-top: 10px;
padding-bottom: 10px;
position: relative;
top: -10px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
color: #FFFFFF;
width: 100%;
background-color: #808080;
line-height:24px;
}

.basic-fine-print{
font-size: 14px;
color: #f5ebdf;

line-height:16px;
text-align:right;
padding-right: 5px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
padding-left: 5px;
}

.about-link a {
color: #f5ebdf;
font-size: 16px;
padding-right: 7px;
}

.landing-desc {
	padding-top: 5px;
	line-height: 27px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-shadow: none;
	color: #f5ebdf;
	font-size: 28px;
	height: 100%;
	left: 0;
	text-align: left;
}

.landing-intro {
	text-align: center;
	background-color: #76b9b6;
	padding-top: 30px;
	padding-bottom: 10px;
	vertical-align: middle;
}

.button {
	padding: 5px;
}

#question {
	background-color: #EEE9DF;
	width: 100%;
	line-height: 2em;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 20px;
}

.comment-admin-text {
    text-align: center;
    position: relative;
    top: -10px;
}

.comment-admin-text-a{
    font-size: 13px !important;
    line-height: 11px;
    color: #ffffff !important;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.comment-admin-text-b{
    font-size: 14px !important;
    line-height: 18px;
    color: #333333 !important;
    letter-spacing: 2px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.answer {
	background-color: #ffe9ca !important;
	width: 100% !important;
	min-height: 250px !important;
	font-size: 18px !important;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #000000;
	font-weight: normal;
	border: 0px;
	border-radius: 0px;
	letter-spacing: 2px;
	line-height: 26px;
	padding-left: 20px !important;
	padding-right: 20px !important;
	position:relative;
	top: -10px;
	
	text-shadow: none !important;
}

.standard-btn-div {
    width: 100%;
    max-width: 150px;
    height: auto;
    padding-bottom: 10px;
}

.standard-btn-div .ui-btn-inner{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform:uppercase;
    line-height: 26px;
}

.standard-btn-div .ui-btn{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform:uppercase;
    line-height: 25px;
}

.first-time-btn .ui-btn-inner{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 30px !important;
    padding: 10px !important;
}

.full-width-hr{
    position: relative;
    left: -10px;
    width: 103%;
}

.home-btn-dialog-box {
    padding-top: 7px;
    padding-bottom: 0px;
    letter-spacing: 2px;
    padding-right: 15px;
    text-align: right;
    background-color: #28384F;
}

.home-btn-title{

	width:45%;
	display:inline-block;
	text-align: left; 
	font-size: 22px;
	color: #ffffff;
	position:relative;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	bottom: 5px;
	left: 5px;
	text-transform: uppercase;
}

.home-btn-dialog-box .ui-btn-inner{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 15px;
    padding: 0px;
}

.home-btn-dialog-box .ui-btn{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 20px;
    /*border-radius: 0px !important;*/
}

.answerwrapper {
	/*background-color: #E7E1D8;*/
	/*background: url('../img/cafe/cafe_notebook.png') repeat-y;*/
	text-shadow: none;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 2px;
}

.rate-warp {
	position: relative;
}

.slider-question {
	width: 90%;
	font-size: 14px;
	line-height: 14px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 8px;
}

.rated, .rated-thanks {
	display: none;
	height: 50px;
	line-height: 50px;
	font-size: 13px;
	font-weight: 900;

	width: 100%;
	text-align: center;

	position: absolute;
	top: -50px;
	background-color: #f5ebdf;
}

.rate-loading {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: #76b9b6;
	color: #f5ebdf;
	padding: 20px 0;
	text-align: center;
}


#d3 {
	display: block;
	background-image:url('../img/cafe/cafe_bg.png');
	background-size:cover;
	width: 100%;
	height: 100%;

	position: relative;
	/*z-index: 999; */

}

.dialog-style{
    position: absolute;
	top:0;
	left: 0;
	background-color:#fcf0de;
	width: 100%;
	overflow: none;
	display: none;
	z-index: 999;
	min-height: 100%;
}

.discuss-btn-div{

		background-image:url('../img/cafe/cafe_bg.png');
	background-size:cover;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 230px;
	max-height: 60%;
	padding-top:15px;
}

.stats-iframe{
    min-height: 70%;
    border: 1px solid black;

}

.dialog-text-style {
	position: relative;
    vertical-align: middle;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #222222;
	height: 100%;
	text-decoration: none;
	text-shadow: none;
	letter-spacing: 1px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 18px;
	line-height: 26px;

}

.dialog-text-style-noflow {
	position: relative;
    vertical-align: middle;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #000000;
	text-decoration: none;
	text-shadow: none;
	font-size: 16px;
	letter-spacing: 2px;
	padding: 20px;
	line-height: 20px;
	max-width: 90%;
}

.dialog-text-style-noflow br {
                             display: block;
                             margin: 15px 0;
                             line-height: 24px;
                          }

.dialog-text-style-noflow a:link {
    color: #4e300f; !important;
    text-decoration: underline;
    text-shadow: none;
    font-size: 15px;
    line-height: 18px;
}

.dialog-text-style-noflow a:visited {
    color: #4e300f; !important;
    text-decoration: underline;
    text-shadow: none;
    font-size: 15px;
    line-height: 18px;
}

.dialog-text-style-noflow strong {
    color: #555555;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.dialog-text-style-noflow em {
   color: #555555;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}


.dialog-text-notitle {
	position: relative;
        vertical-align: middle;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #4e300f;
	background: #76b9b6;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-shadow: none;
	padding-left: 10px;
	font-size: 15px;
    line-height: 16px;
    
	padding-top: 10px;
}

.axis path,
    .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }

    .axis text {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 10px;
    }

    .timeline-label {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 12px;
    }
    
    #timeline .axis {
      transform: translate(0px,30px);
      -ms-transform: translate(0px,30px); /* IE 9 */
      -webkit-transform: translate(0px,30px); /* Safari and Chrome */
      -o-transform: translate(0px,30px); /* Opera */
      -moz-transform: translate(0px,30px); /* Firefox */
    }

    .coloredDiv {
      height:20px; width:20px; float:left;
    }
   
   .rate-username{
	 font-size: 13px;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 color: #ffffff;
	 text-align: center !important;
	 position: relative;
	 top: -5px;
	 
   }

   .flag-style{
    position: fixed;
    top: 180px;
    left: 20px;
    font-size: 14px;
    color: #FF0000;
   }

  .avg-grades div {
	font: 16px sans-serif;
	 background-color: steelblue;
	text-align: right;
	 padding: 3px;
	margin: 1px;
	color: #f5ebdf;
 	}


.noUi-base {
	background-color: #396d6b;
	border: 0px solid #396d6b;
	border-radius:0px;
	height: 12px !important;
}

.noUi-background{
	background: none !important;
}

.noUi-handle {
	border: 7px solid #f5ebdf /*{b-bup-border}*/;
	background-color: #4e300f /*{b-bup-background-color}*/;
	/*border: 1px solid #AAAAAA;

	background-image:-webkit-gradient(linear,left top,left bottom,from(#E8B91A),to(#FFC501));
	background-image:-webkit-linear-gradient(#E8B91A,#FFC501);
	background-image:-moz-linear-gradient(#E8B91A,#FFC501);
	background-image:-ms-linear-gradient(#E8B91A,#FFC501);
	background-image:-o-linear-gradient(#E8B91A,#FFC501);
	background-image:linear-gradient(#E8B91A,#FFC501);*/

	margin: -12px -20px 0px -10px;

	width: 38px !important;
	height: 38px !important;

	-moz-box-shadow:0 1px 3px rgba(0,0,0,.2);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.2);
	box-shadow:0 1px 3px rgba(0,0,0,.2);

	border-radius: 75%;
}

.header-img-topic{
    padding-bottom: 10px;
    position:relative;
    left: -10px;
    width:106%;
    max-width:400px;
    max-height:170px;
    padding-top:8px;
}

.welcome-back {
		text-align: left;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		display: none;
		/*background-image:url('../img/cafe/cafe_bg.jpg');*/
		/*background-color: #FAEBCD;*/
		background-color: #76b9b6;
		overflow: auto;
		z-index: 999;
	}

.responsive-max-width{
        max-width: 500px;
}

.endsliders-slide
{
	background-color: rgba(0,0,0,0); 
	text-align: left;
	color: #FCFCFC; 
	font-size: 18px; 
	/*line-height: 18px;*/
	display: none;
	width: 100%;
	height: 100%;
	-webkit-transform: translateZ(0);
}
/*.loading {
	display: block;
	height: 100%;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
*/

/*input[type=submit]:active, input[type=button]:active {
	border-style: inset;
}*/
