/* Main CSS Stylesheet */

/* Font Declarations - follow same syntax to add new fonts */
@font-face {
	src: url('/assets/fonts/helvetica/HelveticaNeueLTStd-Roman.otf');
	fontFamily: Helvetica;
	advancedAntiAliasing: true;
}

@font-face {
	src: url('/assets/fonts/helvetica/HelveticaNeueCondensedBold.ttf');
	fontFamily: Helvetica;
	fontWeight: bold;
	advancedAntiAliasing: true;
}

/* 
	Global settings:
		- color = text color
		- themeColor = color for the Halo theme for flex components (color surrounding buttons on mousover)
*/
global { 
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #000000, #000000;
	fontSize: 15;
	fontFamily: Helvetica; /* Change this to the desired font of the system */
	color: #292b29;
	themeColor: #DDDDDD;
	modalTransparencyColor: black;
}

/* Style of pages that do not have the space showing: AboutPage.mxml and LoggedOutPage.mxml */
.nonMapPageStyle {
	backgroundColor: #ffffff;
	color: #000000;
	fontWeight: normal;
	paddingLeft: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	paddingRight: 5px;
}

/* CSS Definitions for the Opinion Space (primarily OpinionMap.mxml) */
/* The background color of the space */
.plotCanvas {
	color: #ffffff;
	backgroundAlpha: 1;
	backgroundColor: #012301;
}

/* The style for the left panel of the space where the leaderbaord, rating module, and comment module lie */
.mapLeftPanel {
	right: 20;
	backgroundAlpha: 0;
}

.mapLeftPanelSubBox {
	color: #646462;
	backgroundColor: #f2f0eb;
	/*
	backgroundImage: ClassReference("com.opinion.components.core.GradientBackground");
	backgroundSize: '100%';
	fillColors: #eef7f2, #eef7f2, #eef7f2, #eef7f2;  
	fillAlphas: 1, 1, 1, 1;
	*/
	
	paddingLeft: 10;
	paddingTop: 10;
	paddingRight: 10;
	paddingBottom: 10;
	borderStyle:solid;
	borderThickness:7px;
	borderColor:#FFFFFF;
}

/*
Old version as of 2011.08.15
.mapLeftPanelSubBox {
	color: #ffffff;
	borderStyle: solid;
	borderColor: #333333;
	borderThickness: 1;
	cornerRadius: 15;
	
	backgroundImage: ClassReference("com.opinion.components.core.GradientBackground");
	backgroundSize: '100%';
	fillColors: #777777, #000000, #000000, #555555; 
	fillAlphas: .65, .3, .3, .5;
	
	paddingLeft: 8;
	paddingTop: 8;
	paddingRight: 8;
	paddingBottom: 8;
}
*/

.mapLeftPanelSubBoxLessPadding {
	color: #646462;
	backgroundColor: #f2f0eb;
	/*
	backgroundImage: ClassReference("com.opinion.components.core.GradientBackground");
	backgroundSize: '100%';
	fillColors: #eef7f2, #eef7f2, #eef7f2, #eef7f2;  
	fillAlphas: 1, 1, 1, 1;
	*/
	
	borderStyle:solid;
	borderThickness:10px;
	borderColor:#ffffff;

	paddingLeft: 5;
	paddingTop: 3;
	paddingRight: 5;
	paddingBottom: 3;
}

/* Old as of 2011.08.15
.mapLeftPanelSubBoxLessTransparent {
	color: #ffffff;
	borderStyle: solid;
	borderColor: #333333;
	borderThickness: 1;
	cornerRadius: 15;
	
	backgroundImage: ClassReference("com.opinion.components.core.GradientBackground");
	backgroundSize: '100%';
	fillColors: #777777, #000000, #000000, #555555; 
	fillAlphas: .9, .8, .8, .7;
	
	paddingLeft: 8;
	paddingTop: 8;
	paddingRight: 8;
	paddingBottom: 8;
}
*/

.mapLeftPanelSubBoxLessTransparent {
	color: #292b29;
	borderStyle: solid;
	borderColor: #777777;
	borderThickness: 1;
	cornerRadius: 15;
	
	/*
	backgroundImage: ClassReference("com.opinion.components.core.GradientBackground");
	backgroundSize: '100%';
	fillColors: #777777, #000000, #000000, #555555; 
	fillAlphas: .9, .8, .8, .7;
	*/
	backgroundColor:#ffffff;
	
	paddingLeft: 8;
	paddingTop: 8;
	paddingRight: 8;
	paddingBottom: 8;
}


.mapRightAreaBox {
	color: #ffffff;
	backgroundColor: #000000;
	backgroundAlpha: 1;
	borderColor: #777777;
	borderStyle: solid;
	borderThickness: 1;
	
	paddingLeft: 8;
	paddingTop: 8;
	paddingRight: 8;
	paddingBottom: 8;
}

.discussionQuestionBox
{
	backgroundColor: #ffffff;
	backgroundAlpha: 1;
	borderColor: #999999;
	borderStyle: solid;
	color:#8e8e8b;
	fontSize:20pt;
	fontWeight:bold;
	
	paddingLeft: 15;
	paddingTop: 15;
	paddingRight: 15;
	paddingBottom: 15;
}

.snippetBox
{
	backgroundColor: #ffffff;
	borderColor: #999999;
	borderStyle: solid;
	paddingLeft: 5;
	paddingTop: 5;
	paddingRight: 5;
	paddingBottom: 5;
}

.leftPanelUserViewerText{
	fontSize:12;
}

.demoText {
	color: #FAD137; 
	letterSpacing: 0.5;
	fontSize: 12;
}

.opinionBox {
	/* Concept version 2011.08.02
	backgroundColor: #bbe5d0;
	color: #525252; /* font color */
	backgroundColor: #e0deda;
	backgroundDisabledColor: #e0deda;
	color: #646462; /* font color */
	disabledColor: #646462; 
	fontWeight: normal;
	fontFamily: Arial;
	fontSize: 14;
	paddingLeft: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	paddingRight: 5px;
	cornerRadius: 3;
	borderColor: #c8c7c3;
	borderStyle: solid;
	borderThickness: 2;
}

.commentHistoryBox{
	backgroundColor: #e6dbde;
	color: #646462; /* font color */
	backgroundAlpha: 0; 
	paddingLeft: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	paddingRight: 5px;
	cornerRadius: 5;
	fontFamily: Arial;
	fontSize: 11;
	borderStyle:solid;
	borderThickness:2px;
	borderColor: #01a8d8;
	verticalGap: 0;
}

.mapLeftPanelHorizontalBoxLine {
	backgroundColor: #cecdc9;
	backgroundAlpha: 1; 
}

.leaderBoardText {
	backgroundColor: #000000;
	fontWeight: bold;
	paddingLeft: 10;
	cornerRadius: 3;
	borderStyle: solid;
	borderThickness: 0;	
	color: #FFFFFF;
}

.leaderBoardList {
	backgroundColor: #f2f0eb;
	fontSize: 12;
	fontWeight: bold;
	borderStyle: none;
	selectionColor: #e0deda;
	paddingLeft: 5;
	paddingRight: 0;
	color: #646462;
	rollOverColor: #e0deda;
}

.leaderBoardHeaderBox {
	paddingRight: 0;
	paddingLeft: 0;
}

.leaderboardBox{
	backgroundColor: #ffffff;
	backgroundAlpha: 1;
	borderColor: #999999;
	borderStyle: solid;
	color:#8e8e8b;
	paddingLeft: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	paddingRight: 5px;
}

.firstTimeInstructionsBox {
	borderStyle: solid;
	borderThickness: 2;
	borderColor: #333333;
}

.firstTimeInstructionsText {
	color: #333333;
	letterSpacing: 0.5;
}

.firstTimeIntroPrompt {
	backgroundAlpha: 0;
}

.firstTimeIntroPromptLargeText
{
	color: #292b29;/*#00fcdc;*/
	fontSize:55;
	fontWeight:bold;
}

.firstTimeIntroPromptText
{
	color: #646462;/*#00fcdc;*/
	fontSize:14;
	fontWeight:bold;
}

/* Used to create the lines in the comment module that separate the viewed user's opinions */
.horizontalBoxLine {
	backgroundColor: #000000;
}

/* Global text styles */
.h1Top {
	fontSize: 48;
	fontWeight: bold;
	color: #646462;
}

.h1TopBig {
	fontSize: 60;
	fontWeight: bold;
}

.h1 {
	fontSize: 22;
	fontWeight: bold;
	paddingTop: 5px;
}

.h1Link {
	fontSize: 22;
	fontWeight: bold;
	paddingTop: 5px;
	color: #FFFFFF;
}

.h2 {
	fontSize: 18;
	fontWeight: bold;
	color: #FFFFFF;
}

.error {
	fontSize: 14;
	fontFamily: Arial;
	fontWeight: bold;
	color: #FF0000;
}

.errorWhiteBg {
	fontSize: 10;
	fontFamily: Arial;
}

.spacedFont {
	letterSpacing: 3;
	fontSize: 12;
}

/* Style for boxes used during the Opinion Space Demo */
.centerText {
	fontSize: 20;
	color: #ffffff;
}

.centerBox {
	backgroundColor: #AAAAAA;
	backgroundAlpha: .90;
	paddingLeft: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	paddingRight: 5px;
	borderStyle: solid;
	borderThickness: 0px;
	cornerRadius: 15px;
}

/* Used for text links in RatingModule.mxml and CommentModule.mxml */
.smallLinksFont {
	color: #333333;
	fontSize: 10;
	letterSpacing: 0.5;
	fontWeight: normal;	
}

/* Comment Teaser */
.commentTeaser {
	color: #771011;
	fontSize: 15;
	letterSpacing: 0.5;
	fontWeight: bold;
	textAlign: center;
}


/* Slider styles */
.opinionSlider {
	trackSkin: Embed(source='/assets/slider/gil-slider-track.png');
	thumbSkin: Embed(source='/assets/slider/gil-slider-dot.png');
	thumbOverSkin: Embed(source='/assets/slider/gil-slider-dot.png');
	thumbDisabledSkin: Embed(source='/assets/slider/gil-slider-dot.png');
}

.ratingModuleSlider {
	trackSkin: Embed(source='/assets/slider/gil-slider-track.png');
	thumbSkin: Embed(source='/assets/slider/gil-slider-dot.png');
	thumbOverSkin: Embed(source='/assets/slider/gil-slider-dot.png');
	thumbDisabledSkin: Embed(source='/assets/slider/gil-slider-dot.png');
}

.ratingModuleSliderBackground {
	trackSkin: Embed(source='/assets/slider/invisible.png');
	thumbDisabledSkin: Embed(source='/assets/slider/gil-slider-dot-disabled.png');
}

.statementsPageSlider {
	/*trackSkin: Embed(source='/assets/slider/track_dot.png');*/
	trackSkin: Embed(source='/assets/slider/gil-slider-track.png');
	thumbSkin: Embed(source='/assets/slider/gil-slider-dot.png');
	thumbOverSkin: Embed(source='/assets/slider/gil-slider-dot.png');
	thumbDisabledSkin: Embed(source='/assets/slider/gil-slider-dot.png');
}

.sliderHBox {
	verticalAlign: middle;
	horizontalAlign: center;
	textAlign: center;
	paddingBottom: 10;
}

.sliderDataTip{
	backgroundImage: Embed(source='/assets/slider/slider-tooltip.png');
	backgroundSize: '100%';
	fontFamily: Arial;
	fontSize: 11pt;
	color: white;
	fontWeight:bold;
}

/* Class settings for Alert objects */
Alert {
	color: #FFFFFF;
	backgroundColor: #000000;
	borderColor: #000000;
	titleStyleName: "alertTitle";
}

.alertTitle {
	font-weight: bold;
}

.instructionPrompts {
	backgroundImage: ClassReference("com.opinion.components.core.GradientBackground");
	backgroundSize: '100%';
	fillColors: #36cbf6, #15abd7;
	fillAlphas: 1, 1;
	/*borderColor: #67e4ff;
	borderThickness: 1;*/

	fontSize: 15;
	cornerRadius: 20;
	paddingTop: 2;
	paddingBottom: 2;
	paddingLeft: 2;
	paddingRight: 2;
	
	color: #ffffff;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	fontFamily: Arial;
	fontWeight: bold;
}

/* Class settings for Button objects */
Button {
    upSkin: ClassReference('flexlib.skins.EnhancedButtonSkin');
    overSkin: ClassReference('flexlib.skins.EnhancedButtonSkin');
    downSkin: ClassReference('flexlib.skins.EnhancedButtonSkin');
    disabledSkin: ClassReference('flexlib.skins.EnhancedButtonSkin');
    /*selectedUpSkin: ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedOverSkin: ClassReference('flexlib.skins.EnhancedButtonSkin');*/
    selectedDownSkin: ClassReference('flexlib.skins.EnhancedButtonSkin');
    /*selectedDisabledSkin: ClassReference('flexlib.skins.EnhancedButtonSkin');*/
	
	borderThickness: 2.5;
	borderAlpha: 1;

	borderColors: #d4d4d4, #d4d4d4;
	overBorderColors: #d4d4d4, #d4d4d4;
	selectedBorderColors: #d4d4d4, #d4d4d4;
	
	fillColors: #cecece, #797979;
	fillAlphas: 1, 1;
	overFillColors: #cecece, #797979;
	overFillAlphas: 1, 1;
	
	downFillColors:  #797979, #cecece;
	
	innerShadowColor: #7e7e7e;
	
	fontSize: 11;
	cornerRadii: 4,4,4,4;
	paddingTop: 2;
	paddingBottom: 2;
	paddingLeft: 2;
	paddingRight: 2;

	
	color: #ffffff;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	fontFamily: Arial;
	fontWeight: bold;
}

Button.blueButtonLarge {
	borderColors: #67e4ff, #67e4ff;
	overBorderColors: #67e4ff, #67e4ff;
	selectedBorderColors: #67e4ff, #67e4ff;
	
	fillColors: #36cbf6, #15abd7;
	fillAlphas: 1, 1;
	overFillColors: #36cbf6, #15abd7;
	overFillAlphas: 1, 1;
	
	downFillColors:  #15abd7, #36cbf6;
	
	innerShadowColor: #1eb0da;
	
	fontSize: 18;
	cornerRadii: 7,7,7,7;
	paddingTop: 8;
	paddingBottom: 8;
	paddingLeft: 8;
	paddingRight: 8;
}

Button.blueButton {
	borderColors: #67e4ff, #67e4ff;
	overBorderColors: #67e4ff, #67e4ff;
	selectedBorderColors: #67e4ff, #67e4ff;
	
	fillColors: #36cbf6, #15abd7;
	fillAlphas: 1, 1;
	overFillColors: #36cbf6, #15abd7;
	overFillAlphas: 1, 1;
	
	downFillColors:  #15abd7, #36cbf6;
	
	innerShadowColor: #1eb0da;
	
	fontSize: 11;
	cornerRadii: 4,4,4,4;
	paddingTop: 2;
	paddingBottom: 2;
	paddingLeft: 2;
	paddingRight: 2;
}

Button.grayButtonLarge {
	borderColors: #d4d4d4, #d4d4d4;
	overBorderColors: #d4d4d4, #d4d4d4;
	selectedBorderColors: #d4d4d4, #d4d4d4;
	
	fillColors: #cecece, #797979;
	fillAlphas: 1, 1;
	overFillColors: #cecece, #797979;
	overFillAlphas: 1, 1;
	
	downFillColors:  #797979, #cecece;
	
	innerShadowColor: #7e7e7e;
	
	fontSize: 18;
	cornerRadii: 7,7,7,7;
	paddingTop: 8;
	paddingBottom: 8;
	paddingLeft: 8;
	paddingRight: 8;
}

Button.registrationButton {
	cornerRadii: 10, 10, 10, 10;
	borderColors: #999999, #999999;
	overBorderColors: #555555, #555555;
	selectedBorderColors: #000000, #000000;
	borderThickness: 2;
	borderAlpha: 1;
	fillColors: #BBBBBB, #BBBBBB;
	fillAlphas: 1, 1;
	overFillColors: #AAAAAA, #AAAAAA;
	overFillAlphas: 1, 1;
	color: #000000;
	textRollOverColor: #000000;
	fontSize: 13;
}

Button.splashButton{
	fontWeight: bold;
	/*color: 0xFFFFFF;*/
	color: #FFFFFF;
	fontSize: 30;
	fillAlphas: .02,.04;
	overFillAlphas: .06, .08;
	overFillColors: #FFFF00, #FFFF00;
	selectedFillAlphas: 0, 0;
	/*fillColors: 0xDDDDFF, 0xDDDDFF;*/
	/*overFillColors: 0xCCCC99,0xCCCC99;*/
	cornerRadii: 4,4,4,4;
	/*borderColors: 0x000000;*/
	borderColors: #FFFFFF, #FFFFFF;
	borderThickness: 1;
	paddingTop: 15;
	paddingBottom: 15;
	paddingLeft: 30;
	paddingRight: 30;
	textRollOverColor: #FFFFFF;
	/*selectedFillColors: #FFFFFF, #FFFFFF;*/
	textSelectedColor: #FFFFFF;
}

Button.splashButtonAqua{
	fontWeight: bold;
	/*color: 0xFFFFFF;*/
	color: #00F5FE;
	fontSize: 16;
	fillAlphas: .02,.04;
	overFillAlphas: .06, .08;
	overFillColors: #FFFF00, #FFFF00;
	selectedFillAlphas: 0, 0;
	/*fillColors: 0xDDDDFF, 0xDDDDFF;*/
	/*overFillColors: 0xCCCC99,0xCCCC99;*/
	cornerRadii: 4,4,4,4;
	/*borderColors: 0x000000;*/
	borderColors: #FFFFFF, #FFFFFF;
	borderThickness: 1;
	paddingTop: 5;
	paddingBottom: 5;
	paddingLeft: 10;
	paddingRight: 10;
	textRollOverColor: #FFFFFF;
	/*selectedFillColors: #FFFFFF, #FFFFFF;*/
	textSelectedColor: #FFFFFF;
}

Button.logoutButton{
	fontWeight: bold;
	/*color: 0xFFFFFF;*/
	color: #00F5FE;
	fontSize: 15;
	fillAlphas: .06,.08;
	overFillAlphas: .1, .12;
	overFillColors: #FFFF00, #FFFF00;
	selectedFillAlphas: 0, 0;
	/*fillColors: 0xDDDDFF, 0xDDDDFF;*/
	/*overFillColors: 0xCCCC99,0xCCCC99;*/
	cornerRadii: 4,4,4,4;
	/*borderColors: 0x000000;*/
	borderColors: #FFFFFF, #FFFFFF;
	borderThickness: 1;
	paddingTop: 15;
	paddingBottom: 15;
	paddingLeft: 30;
	paddingRight: 30;
	textRollOverColor: #FFFFFF;
	/*selectedFillColors: #FFFFFF, #FFFFFF;*/
	textSelectedColor: #FFFFFF;
}


Button.bigButton {
	paddingTop: 2px;
	paddingBottom: 2px;
	fontSize: 18;
	horizontalAlign: center;
	font-weight: bold;
}


Button.yellowButton {
 	fillColors: #BBBBBB, #BBBBBB;
	overFillColors: #BBBBBB, #BBBBBB;
	paddingTop: 2px;
	paddingBottom: 2px;
	fontSize: 18;
	font-weight: normal;
	horizontalAlign: center;
}

Button.teaserButton {
	fontSize: 10;
	horizontalAlign: center;
	font-weight: normal;
}

Button.glowButton {
	cornerRadii: 6, 6, 6, 6;
	overBorderColors: #00F5FE, #00F5FE;
	selectedBorderColors: #00F5FE, #00F5FE;
	selectedFillColors: #222222, #222222;
	borderThickness: 2;
	borderAlpha: 1;
	fillColors: #222222, #222222;
	fillAlphas: 1, 1;
	overFillColors: #222222, #222222;
	overFillAlphas: 1, 1;
	color: #FFFFFF;
	textRollOverColor: #00F5FE;
	fontSize: 12;
}

/* General linkbutton setting */
LinkButton.link{
	color: #01c8fe;
	backgroundAlpha:0;
	borderAlpha:0;
	fontFamily: Arial;
	fontSize:11;
	textSelectedColor: #01c8fe;
	textRollOverColor: #01c8fe;
	paddingLeft: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingRight: 0;
}

/* General linkbutton setting */
LinkButton.pressLink{
	color: #0000ff;
	backgroundAlpha:0;
	borderAlpha:0;
	fontFamily: Arial;
	fontSize:18;
	textSelectedColor: #0000ff;
	textRollOverColor: #0000ff;
	paddingLeft: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingRight: 0;
}

/* General linkbutton setting */
LinkButton.linkAbout{
	color: #00F5FE;
	backgroundColor: #222222;
	rollOverColor: #222222;
	selectionColor: #222222;
	textSelectedColor: #ffff74;
	textRollOverColor: #ffff74;
	paddingLeft: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingRight: 0;
}

/* Class settings for ComboBox objects */
ComboBox {
    upSkin: ClassReference(null);
    overSkin: ClassReference(null);
    downSkin: ClassReference(null);
    disabledSkin: ClassReference(null);
    selectedUpSkin: ClassReference(null);
    selectedOverSkin: ClassReference(null);
    selectedDownSkin: ClassReference(null);
    selectedDisabledSkin: ClassReference(null);	

    cornerRadii: 10, 10, 3, 3;
 	fillColors: #555555, #444444;
	fillAlphas: 1, 1;
	color: #ffffff;
	fontSize: 15;
	fontWeight: normal;
		
	iconColor:#000000;
}

.comboBoxDropDown {
	backgroundColor: #333333;
	backgroundAlpha: .85;
	rollOverColor: #777777;
	selectionColor: #777777;
}

/* Class settings for text inputs */
TextInput {
	color: #000000;
} 

/* Class settings for tool tips */
ToolTip {
	fontSize: 12;
	backgroundColor: #ffffff;
}

/* Styles for popups */
.popup {
	paddingLeft: 3px;
	paddingTop: 0px;
	paddingBottom: 3px;
	paddingRight: 8px;
	dropShadowEnabled: true;
	
	backgroundAlpha: 1;
	backgroundColor: #eee9df;
	borderStyle:solid;
	borderThickness:10px;
	borderColor:#ffffff;
	borderAlpha: 1;
	cornerRadius: 0;
	
	fontFamily: Arial;
	fontSize: 12;
	color: #646462;
	
	closeButtonDownSkin: Embed(source='/assets/commentmodule/CloseButton-Down.png');
	closeButtonOverSkin: Embed(source='/assets/commentmodule/CloseButton-Down.png');
	closeButtonUpSkin: Embed(source='/assets/commentmodule/CloseButton.png');
}

.popupTitle, .mapPanelTitle {
	color: #646462;
	fontSize: 19;
	fontWeight: bold;
	fontFamily: Helvetica;
}

/* General layout for noficiation popups - ResponseAdd.mxml, ResponseError.mxml, and DisplayUsername.mxml */
.notificationPopup {
	fontSize: 15;
	paddingLeft: 10; 
	paddingRight: 10; 
	paddingTop: 10; 
	paddingBottom: 10;
}

/* Panel and Page styles used for overall layout */
.emptyUnpaddedPage {
	paddingLeft: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingRight: 0;
	color: #000000;
    backgroundColor: #FFFFFF;
    cornerRadius: 22px;
   	dropShadowEnabled: false;
   	borderStyle: solid;
   	borderThickness: 0px;
}

.emptyPaddedPage, .headerPanel {
	paddingLeft: 10px;
	paddingTop: 10px;
	paddingBottom: 10px;
	paddingRight: 10px;
	color: #000000;
	backgroundColor: #ffffff;
   	dropShadowEnabled: false;
}

/* Styles for the loading screen used during refresh  */
.loadingScreen {
	backgroundAlpha: .8;
	backgroundColor: #CCCCCC;
   	dropShadowEnabled: false;
}

.loadingLabel {
	horizontalCenter: 0;
	verticalCenter: 0;
	fontSize: 14;
	color: #646462;
	fontWeight: bold;
}

.refreshLabel {
	fontSize: 14;
	color: #FFFFFF;
	fontWeight: bold;
}


/* Style for fullscreen warning */
.fullscreenWarningBox {
	horizontalAlign: center;
	cornerRadius: 14;
	borderStyle: solid;
	borderThickness: 0;
	borderColor: #FFFFFF;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 0.1;
	paddingTop: 10px;
	paddingBottom: 10px;
	paddingLeft: 10px;
	paddingRight: 10px;
}

.fullScreenWarningText {
	fontSize: 20pt;
	color: #FFFFFF;	
}

/* Module specific CSS Definitions */

/* CSS Definitions for opinionflex.mxml - Header */
.headerCanvasBox { /* we used to have a gradient, use this canvas to re-do a gradient if needed */
	/*borderStyle:solid;
	borderThickness: 1;
	borderSides: bottom;
	borderColor: #222222;	
	backgroundSize: '100%';*/
	backgroundColor: #f1eee9;
	alpha: 1;
}

.headerText {
	paddingLeft: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingRight: 0;
	fontSize: 25;
	color: #494743;
	fontFamily: Helvetica;
	fontWeight: bold;
	rollOverColor: #f1eee9;
	textRollOverColor: #b9b7b3;
	selectionColor: #f1eee9;
	textSelectedColor: #b9b7b3;
}

.miniHeaderText {
	font-size: 12pt;
	font-weight: bold;
	color: #646462;
}

.redNotificationText {
	font-size: 12pt;
	font-weight: bold;
	color: #FF0000;
}

.headerUsernameText {
	color: #939496;
	fontSize: 11;
	letterSpacing: .5;
	fontWeight: bold;	
}

/* CSS Definitions opinionflex.mxml - footer */
.footerCanvas {
	backgroundColor: #FFFFFF;
}

.bcnmHBox {
	horizontalGap: 0px;
	paddingRight: 30px;	
}

.bcnmImage {
	paddingLeft: 10px;	
}

LinkButton.footerLink {
	color: #646464;
	textSelectedColor: #4f5e8c;
	textRollOverColor: #4f5e8c;
	font-size: 18pt;
	font-weight: bold;
	paddingLeft: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingRight: 0;
}

LinkButton.researchLink {
	color: #0000FF;
	textSelectedColor: #4f5e8c;
	textRollOverColor: #4f5e8c;
	font-size: 12pt;
	text-decoration:underline;
	font-weight: bold;
	paddingLeft: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingRight: 0;
}

.otherDialogsBox {
	backgroundColor: #ffffff;
	backgroundAlpha: .75;
	paddingLeft: 10; 
	paddingRight: 10; 
	paddingTop: 10; 
	paddingBottom: 10;	
}


/* StatementsPage.mxml CSS definitions */
/* Used for the box that holds the proposition and the discussion comment */
.statementsPageStyle {
	paddingLeft: 10px;
	paddingTop: 10px;
	paddingBottom: 10px;
	paddingRight: 10px;
	color: #000000;
	backgroundColor: #000000;
   	dropShadowEnabled: false;
	backgroundAlpha: 0.4;
}

.statementsPagePanel {
	paddingLeft: 10px;
	paddingTop: 10px;
	paddingBottom: 10px;
	paddingRight: 10px;
	dropShadowEnabled: true;
	borderStyle: solid;
	borderThickness: 0px;
	backgroundColor: #F4F3EE;
	cornerRadius: 22px;
	color: #000000;
}

/* Used for the box that holds the statements page instructions */
.statementsPageInstructionsBox {
	backgroundColor: #222222;
	paddingLeft: 15px;
	paddingTop: 15px;
	paddingBottom: 15px;
	paddingRight: 15px;
	dropShadowEnabled: true;
	borderStyle: solid;
	borderThickness: 0px;
	cornerRadius: 22px;
}

.statementsPageInstructionsTitle {
	fontSize: 20pt;
	font-weight: normal;
	color: #ffffff;
}

.statementsPageDiscussionTitle {
	fontSize: 20pt;
	font-weight: normal;
}

.statementsPageInstructionsText {
	fontSize: 14pt;
	font-weight: normal;
	color: #ffffff;
}

.statementsPageStatement {
	color: #646462;
	fontSize: 14;
	fontWeight: bold;
}

.statementsPageAgreeText {
	color: #9b9b9b; /*#525252;*/
	fontSize: 11;
	fontWeight: bold;
	fontFamily: Arial;
	textAlign: right;
}

.statementsPageDisagreeText {
	color: #9b9b9b; /*#525252;*/
	fontSize: 11;
	fontWeight: bold;
	fontFamily: Arial;
	textAligh: left;
}

.statementsPageCommentInputText {
	color: #ffffff;
	fontSize: 15;
	borderStyle: none;
	backgroundColor: #3e403f;
	backgroundDisabledColor: #999999;
	disabledColor: #333333;
}

/* RatingModule.mxml CSS definitions */
.ratingModuleStatement {
	color: #9b9b9b;
	fontFamily: Arial;
	fontSize: 11;
	fontWeight: bold;
}
.ratingModuleStatementOtherUser {
	color: #FFFFFF;
	fontSize: 20;
	letterSpacing: 0.5;
	fontWeight: normal;
}

.ratingModuleDiscussionStatementIntro {
	color: #000000;
	fontSize: 10;
}

.ratingModuleCommentInputText {
	backgroundColor: #e6e6e6;
	backgroundDisabledColor: #e6e6e6;
	color: #555555; /* font color */
	disabledColor: #646462;
	backgroundAlpha: 1;
	fontFamily: Helvetica; 
	fontSize: 15;
	paddingLeft: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	paddingRight: 5px;
	cornerRadius: 3;
	borderStyle: solid;
	borderColor:#c8c7c3;
	borderThickness: 3;
}

.unileverPopupInputText {
	color:#f0f1eb;
	fontFamily: Helvetica; 
	fontSize: 13;
}

.unileverHowItWorksTitle
{
	fontWeight:bold;
	color:#f0f1eb;
	fontSize: 18;
}

.unileverResourcesTitle
{
	fontWeight:bold;
	color:#f7921c;
	fontSize: 18;
}

.unileverTaskTitle
{
	fontWeight:bold;
	color:#f0f1eb;
	fontSize: 14;
}

.saveRatingsStatus {
	color: #b3e1e1;
	fontSize: 12;
	fontWeight: normal;
}

.commentIntroText {
	fontSize: 14;
	color: #292b29;
	fontWeight: bold;
}

.commentGreenLabel {
	color: #00FF00;
	fontSize: 11;
	fontWeight: normal;
}

.commentGreenLabelOtherUser {
	color: #00FF00;
	fontSize: 15;
	fontWeight: normal;
}

.commentRedLabel {
	color: #AA0000;
	fontSize: 11;
	fontWeight: normal;
}

.commentRedLabelOtherUser {
	color: #AA0000;
	fontSize: 15;
	fontWeight: normal;
}


/* CSS Definitions CommentModule.mxml */
.suggestionInputText {
	backgroundColor: #e9f2ee;
	backgroundDisabledColor: #d2ece1;
	color: #292b29; /* font color */
	disabledColor: #292b29;
	backgroundAlpha: 1; 
	fontWeight: normal;
	fontSize: 15;
	paddingLeft: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	paddingRight: 5px;
	cornerRadius: 10;
	borderStyle: solid;
	borderThickness: 0;
}

.commentModuleResponseBox {
	color: #ffffff;
}

.commentBoxTextDisplay {
	borderStyle: none; 
	backgroundColor: #CCCCCC;
	color: #ffffff;
	leading: 4;
	fontSize: 12;
}

.commentBox {
	backgroundColor: #2f487a;
}

.flagButton {
    icon: Embed(source='/assets/img/flag_unselected.png');
    disabledIcon: Embed(source='/assets/img/flag_selected.png');
}

/* style for a self skinned comment tab - good example for skinning your own components */
.commentTabSkin {
	/*fontSize: 15;*/
	fontWeight: normal;
	color: #FFFFFF;
	textAlign: left;
	cornerRadius: 0px;
	
				
   /* upSkin: Embed(source='/assets/tabs/tab-unselected-down-wide.png');
    overSkin: Embed(source='/assets/tabs/tab-unselected-down-over-wide.png');
	selectedUpSkin: Embed(source='/assets/tabs/tab-selected-up-wide.png');
	selectedOverSkin: Embed(source='/assets/tabs/tab-selected-up-over-wide.png');*/
}

.commentTabSelected{
	fontWeight: normal;
	color: #FFFFFF;
	textRollOverColor: #00F5FE;
	textAlign: left;
	cornerRadius: 0px;
}

/* OpinionTabs.mxml CSS Definitions */
TabBar.tabBarStyle {
	backgroundColor: #000000;
	horizontalGap: 4;
}

.tabStyle {
	color: #ffffff;
	fontSize: 12;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
}

/* CSS definitions for OpinionMenu.mxml */
LinkButton.menuLinkButton {
	fontSize: 18;
	fontWeight: bold;
	fontFamily: Helvetica;
	color: #696763;
	rollOverColor: #f1eee9;
	textRollOverColor: #b9b7b3;
	selectionColor: #f1eee9;
	textSelectedColor: #b9b7b3;	
}

.menuText {
	fontSize: 22;
	color: #696763;
	fontFamily: Helvetica;
	fontWeight: bold;
}

/* Tutorial.mxml CSS Definitions */
.nextButton {
    icon: Embed(source='/assets/img/next_icon.png');
    disabledIcon: Embed(source='/assets/img/next_icon_disabled.png');
}

.previousButton {
    icon: Embed(source='/assets/img/previous_icon.png');
    disabledIcon: Embed(source='/assets/img/previous_icon_disabled.png');
}

.firstButton {
	icon: Embed(source='/assets/img/first_icon.png');
	disabledIcon: Embed(source='/assets/img/first_icon_disabled.png');
}

.lastButton {
	icon: Embed(source='/assets/img/last_icon.png');
	disabledIcon: Embed(source='/assets/img/last_icon_disabled.png');
}

.slideNumberText {
	color: #000000;
	fontSize: 14;
	fontWeight: bold;
}

/* SignupPage.mxml CSS Definitions */
.signupPageStyle {
	paddingLeft: 10px;
	paddingTop: 10px;
	paddingBottom: 10px;
	paddingRight: 10px;
	color: #000000;
	backgroundColor: #444444;
   	dropShadowEnabled: false;
	backgroundAlpha: .75;
}

.signuplink {
	color: #000000;
	backgroundColor: #444444;
	rollOverColor: #333333;
	selectionColor: #333333;
	textSelectedColor: #444444;
	textRollOverColor: #444444;
	paddingLeft: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingRight: 0;	
}

.signupPageBox {
	backgroundColor: #F4F3EE;
	paddingLeft: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	paddingRight: 5px;
	dropShadowEnabled: true;
	borderStyle: solid;
	borderThickness: 0px;
	cornerRadius: 22px;
	color: #000000;
}

.signupLabel {
	fontSize:15;
	color: #646462;
	fontWeight:bold;
}

.signupLabelBlack {
	fontSize:14pt;
	color: #000000;
	letterSpacing: 0.5;
}

.signupInstructionsBox {
	backgroundColor: #F4F3EE;
	paddingLeft: 10px;
	paddingTop: 10px;
	paddingBottom: 10px;
	paddingRight: 10px;
	dropShadowEnabled: true;
	borderStyle: solid;
	borderThickness: 0px;
	cornerRadius: 22px;
	fontSize: 14;
	letterSpacing: 0.5;
	leading: 4;
}

/* AboutPage.mxml CSS definitions */
.aboutPageNavigation {
	color: #646462;
	backgroundColor: #f2f0eb;
	fontSize: 15;
	letterSpacing: 1;
	borderStyle: none;
	selectionColor: #cccccc;
}

.aboutPageNavigationBorder {
	backgroundColor: #f2f0eb;
	backgroundAlpha: 1;
	paddingRight: 5px;
	paddingLeft: 5px;
	paddingTop: 5px;
	borderStyle: none;
	selectionColor: #cccccc;
}

/*splash page*/
.splashTop {
	backgroundColor: #ffffff;
	paddingLeft: 20;
	paddingTop: 5;
	paddingRight: 20;
	paddingBottom: 5;
	fontWeight:bold;
	borderStyle:solid;
	borderThickness:5px;
	borderColor:#f1efe9;
}

.splashBack {
	backgroundColor: #eee9df;
	paddingLeft: 30;
	paddingRight: 30;
	paddingBottom: 20;
	borderStyle:solid;
	borderThickness:10px;
	borderColor:#ffffff;
}

/*Logged out page*/
.loggedOutTop {
	backgroundColor: #ffffff;
	paddingLeft: 50;
	paddingTop: 5;
	paddingRight: 50;
	paddingBottom: 5;
	fontWeight:bold;
	borderStyle:solid;
	borderThickness:5px;
	borderColor:#f1efe9;
}

.loggedOutBack {
	backgroundColor: #eee9df;
	paddingLeft: 30;
	paddingTop: 115;
	paddingRight: 30;
	paddingBottom: 20;
	borderStyle:solid;
	borderThickness:10px;
	borderColor:#ffffff;
}

/* All styles below are currently unused */
/* unused - part of map top bar in OpinionMap.mxml */
.myScoresBox {
	cornerRadius: 3;
	borderStyle: solid;
	borderThickness: 1;	
	backgroundColor: #c6c6c5;
	fontWeight: bold;
	paddingLeft: 10;
	paddingRight: 10;
}

.myScoresSubBox {
	backgroundColor: #c6c6c5;
	backgroundAlpha: 0.5;
	fontWeight: bold;	
}

.toolBarBox {
	cornerRadius: 3;
	borderStyle: solid;
	borderThickness: 1;	
	backgroundColor: #c6c6c5;
}

/* unused style for old 2.0 welcome in OpinionMap */
.opinionMapWelcome {
	backgroundColor: #5478b2;
	color: #ffffff;
	backgroundAlpha: .5;
	borderStyle: solid;
	borderThickness: 0px;
	cornerRadius: 15px;
	paddingBottom: 10;
	paddingLeft: 10;
	paddingTop: 10;
	paddingRight: 10;	
}

/* Style of the unused help box in OpinionMap.mxml */
.helpBox {
	horizontalAlign: center;
	cornerRadius: 14;
	borderStyle: solid;
	borderThickness: 0;
	borderColor: #516D22;
	backgroundColor: #516D22;
	backgroundAlpha: 0.1;
	paddingLeft: 10;
	paddingRight: 10;
	paddingBottom: 10;
	paddingTop: 10;
}

.helpText {
	color: #FFFFFF;
	fontSize: 12;
}



/* unused */
/*
.closeButton {
    upSkin: Embed('/assets/img/closeButton.png');
    overSkin: Embed('/assets/img/closeButton.png');
    downSkin: Embed('/assets/img/closeButton.png');
    disabledSkin: Embed('/assets/img/closeButton.png');
}*/

/* Suggestions Page CSS definitions - page unused for now */
.suggestionsPagePanel {
	paddingLeft: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	paddingRight: 5px;
	dropShadowEnabled: true;
	borderColor: #333333;
	borderAlpha: 0.9;
	borderStyle: solid;
	borderThickness: 0px;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 0.8;
	cornerRadius: 22px;
	color: #000000;
}

.suggestionsPageInstructionsText {
	fontSize: 20pt;
	font-weight: normal;
	color: #88B514;
}

.suggestionsPageText {
	fontSize: 12pt;
	font-weight: bold;
	color: #000000;
}

/* Welcome Page CSS Definitions - the page is currently unused */
.welcomeVBox {
	 backgroundColor: #5478b2;
	 color: #ffffff;
	 backgroundAlpha: 1.0;
	 paddingBottom: 10;
	 paddingLeft: 10;
	 paddingTop: 10;
	 paddingRight: 10;
}

.welcomeVBoxHeaderText {
	fontSize: 35;
	fontWeight: bold;
}

.osCollectedText {
	font-size: 30pt;
	font-weight: bold;
	color: #000000;
}

/* Style for unused links in OpinionMenu */
LinkButton.menuLink {
	paddingLeft: 4px;
	paddingRight: 4px;
	color: #FFFFFF;
	rollOverColor: #000000;
	selectionColor: #000000;
	textSelectedColor: #88B514;
	textRollOverColor: #88B514;
	fontSize: 14pt;
	font-weight: normal;
}

.incompleteSignup{
	color: #000000;
	fontSize: 20;
	font-weight: normal;
}

.newNotificationsBox{
	backgroundColor: #000000;
	backgroundAlpha: .5;
	borderStyle: solid;
	borderThickness: 2;
	borderColor: #FFFF00;
	paddingRight: 3;
	paddingLeft: 3;
	paddingTop: 3;
	paddingBottom: 3;
	fontSize: 9;
	color: #FF0000;
	font-weight: bold;
}

.notificationsBox{
	verticalAlign: middle;
}

/*
.newNotificationsButtonBox{
	backgroundColor: #FFFFFF;
	backgroundAlpha: 1;
	borderStyle: solid;
	paddingRight: 7;
	paddingLeft: 7;
	paddingTop: 7;
	paddingBottom: 7;
	borderColor: #333333;
	borderThickness: 1;
	color: #333333;
	fontSize: 13;
	font-weight: bold;
	horizontalGap: 0;
}*/

.notificationsButtonBox{
	color: #646462; /* font color */
	backgroundAlpha: 0; 
	paddingLeft: 5px;
	paddingTop: 5px;
	paddingBottom: 5px;
	paddingRight: 5px;
	cornerRadius: 5;
	fontFamily: Arial;
	fontSize: 11;
	borderStyle:solid;
	borderThickness:2px;
	borderColor: #01a8d8;
	verticalGap: 0;
}

.notificationsLabelBox{
	fontSize: 10;
}

.newNotificationsLabelBox{
	fontSize: 14;
	font-weight: bold;
	color: #ff8282;
}

.suggestionModuleInputText {
	color: #FFFFFF;
	disabledColor: #FFFFFF;
	fontSize: 12;
	leading: 4;
	backgroundAlpha: 0;
}

.suggestionGivenDividerText {
	color: #646462;
	fontFamily:Arial;
	font-weight: bold;
	fontSize: 12;
}
