/* opinionspace.css - contains styles for the Opinion Space project */
/*old color 0x04376c*/
.margin{
	background-color: #DDDDDD
	position: absolute;
	z-index: -500;
}

.inst-score {
	display:none;
	font-weight:bold;
}

.top-bar{
    display:none;
    width: 100%;
    background-color: #88ADAA;
}

.slider-agree-labels{
	font-size:11px;
	font-weight: bold;
	color: #FFFFFFF;
}

.slider-range-labels{
    position: relative;
    top: -2px;
    z-index: -1;
    font-size:11px;
    font-weight: bold;
    color: #FFFFFF;
}

.grade-labels {
    position: absolute;
    z-index: -1;
    top: -2px;
    font-size:11px;
    font-weight: bold;
    color: #FFFFFF;
    background:none;
}

#grades div {
	float: left;
	padding-right: 0px;
	left: 0px;
}

.alignleft {
	padding-left: 10px;
	float: left;
}
.alignright {
	padding-right: 10px;
	float: right;
}

#entered-comment{
	display:inline;
	color: #000000;
	text-shadow: none;
	width: 90% !important;
	height: 180px !important;
	font-size: 18px;
}

/* This prevents the jQuery navbar buttons from staying pressed */
.ui-navbar .ui-btn-active {
	border: 1px solid       #222;
	background:             #88ADAA;
	font-weight: bold;
	color:                     #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #555), to( #333));
	background-image: -webkit-linear-gradient(#555, #333);
	background-image:    -moz-linear-gradient(#555, #333);
	background-image:     -ms-linear-gradient(#555, #333);
	background-image:      -o-linear-gradient(#555, #333);
	background-image:         linear-gradient(#555, #333);
}

.ui-navbar .ui-btn-inner {
	padding: 0px !important;
}

/** Testing out leaderboard*/
table.pretty {
	margin: 0 auto;
	border-collapse: collapse;
}
table.pretty th, table.pretty td {
	border: 1px #ADD8E6 solid;
	padding: 0.2em;
}
table.pretty th {
	background: #ADD8E6;
	text-align: left;
}
table.pretty caption {
	margin-left: inherit;
	margin-right: inherit;
}


/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#splash {
		width: 50%;
		height: auto;
		padding-top: 30px;
	} 
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#splash {
		width: 60%;
		height: auto;
	} 
}

/* Landscape phones and down */
@media (max-width: 480px) {
	html {
		font-size: 14px;
	}
	.answer {
		font-size: 14px;
	}


	#splash {
		width: 70%;
		height: auto;
	} 

}

/*label.ui-input-text {
	font-size: 12px;
	}*/

	/** TODO: this isn't fixing the line-height */
	/*.ui-input-text {
		width: 98% !important;
		height:30px;
	} */


	img.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.score-label, .score-value,.num-rated-by,.num-label{
		font-size: 18px;
	}
	
	.stats-label,.logout-label{
		font-size: 16px;
		padding-bottom: 5px;
	}
	
	.home-label{
		font-size: 18px;
	}
	

	#editCommentBox {
		width: 100%;
	}

	/* get the bootstrap version of these */
	.alert-danger,.alert-error {
		color: #b94a48;
		background-color: #f2dede;
		border-color: #eed3d7;
	}

	.my-comment-btn, .logout-btn {
	    padding-bottom: 7px;
	}

	.home-btn{
	    padding-top: 0px !important;
	}

	.menubar {
		display: none;
		width: 100%;
	}

	.ui-slider-input {
		display:none !important;
		width:1px !important;
		height:1px !important;
	}
	.ui-slider-track {
		width:99% !important;
		float:left;
		margin: 0 !important;
	}
	
	.ui-slider .ui-slider-handle {
		cursor: default;
		height: 2.2em !important;
		position: absolute;
		width: 2.2em !important;
	}

	html {
		height: 100%;
	}

	body {
		/*font-family: "Helvetica Neue", verdana, sans-serif;*/
		background: #88ADAA;
		height: 100%;
		padding: 0 !important;
		/* use helvetica neue, bootstrap style */
	}


	strong {
		font-weight: bold;
		color: #444444;
	}
	strong.go-back {
		color: #54D6F6;
		cursor: pointer;
	}

	#score{
		font-weight: bold;
	}

	.frame {

		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		display: none;
		background: #88ADAA;
	}

	.header {
		color: #FFFFFF;
		text-shadow: none;
		width: 95%;
		font-size: 14px;
		/*padding: 5px 0px;*/
		text-align: left;
		line-height: 1p3x;
		padding-left: 10px;
		padding-bottom: 5px;
		padding-top: 5px;
		font-family: verdana, sans-serif;
		/*margin-bottom: 20px; */
	}

	.instructions{
		/*position: absolute;*/
		background-color: #FFC501;
		font-family: verdana, sans-serif;
		top: 250;
		left: 0px;
		z-index: 999;
		text-shadow: none;
		font-size: 16px !important;
		width: 100%;
		line-height: 20px;
		display:none;
	}
	
	.reportcard{
		/*background-color: #FAEBCD;*/
		/*font-family: "Courier New", Courier, monospace;*/
		color: white;
		text-shadow: none;
		height: 100%;

	}

	.default-left-padding{
	    padding-left: 10px;
	    width: 95% !important;
	}

	.small-left-padding{
    	    padding-left: 5px;
    	    width: 97% !important;
    	}
	
	.comment-panel{
		/*background: url('../img/cafe/cafe_notebook.png') repeat-y;*/
		color: white;
		text-shadow: none;
		width: 95%;
		height: 100%;
		padding-top: 10px;
		padding-right: 10px;
	}
	
	.cardtable, tr, th, td{
		padding-right: 10px;
		padding-left: 10px;
	}

	.slider-row{
	padding-top: 15px;
	padding-bottom: 15px;
	}

	.title-table {
	    width:299px;
	    background-color: #FFFFFF;
	    border: solid 0px #88ADAA;
	    position: relative;
	    left: -1px;
	}

	.title-table td{
    	    border: solid 3px #88ADAA;
    	}

    .grade-table {
    	    width: 290px;
    	    background-color: #88ADAA;
    	    border: solid 0px #FFFFFF;
    	}

    	.grade-table td{
        	    border: solid 3px #FFFFFF;
        	}

	.stats-table {
    	    width:95%;
    	    font-size:15px;
    }

    .stats-table-title {
        color:#000000;
        background-color: #FFC501;
    }

	.title-table-label1 {
    	    text-align: center;
    	    vertical-align: middle;
    	    color: #88ADAA;
            font-size:14px;
    }

    .title-table-label2 {
            vertical-align:middle;
            width: 45px;
            text-align: center;
            vertical-align: middle;
            color: #88ADAA;
            font-size:14px;
    }
	
	.grade{
		font-family: "Comic Sans MS", sans-serif;
		color: #FFFFFF;
		font-weight:bold;
		text-shadow: none;
		font-size: 30px;
	}
	
	.grade2{
		font-family: "Comic Sans MS", sans-serif;
		color: #FFFFFF;
		font-weight:bold;
		text-shadow: none;
		font-size: 30px;
	}
	
	.regforminput{
		font-size: 28px !important;
		margin: 0px !important;
		padding-top: 0px !important;
	}

	.reg_form{
	    width: 95%;
	    padding-left: 5px;
	}
	
	.instructions2{
		/*position: absolute;*/
		top: 250;
		left: 0px;
		background-color: #E2FFC6;
		z-index: 2;

		width: 100%;

		line-height: 20px;
		padding: 10px 0px;

		text-align: center;
	}


	.login-header, .reg-header, .slider-header{
		background-color: #ADD8E6;
		z-index: 2;
		width: 100%;
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		color: black !important;
	}

	.score {
		visibility: hidden;
		display: none;
	}

	.login, .endsliders, .my-comment, .stats, .help, .leaderboard, .comment-input, .register, .rate{
	 /* piggy backing the the new divs here for now,  .stats, .help*/
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		/*background-color: #FAEBCD;*/
		background: #88ADAA;
		z-index: 999;
		overflow-y: auto;
		overflow-x: hidden;
		text-align: center;

	}

	.error_username {
		position: fixed;
		top: 0;
		right: 0;
		background-color: #E7E1D8;
		z-index: 999;
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	.scorebox{
		text-shadow: none;
		font-weight: bold;
		display: none;
		color: #000000;
		position: absolute;
		bottom:40px;
		left:3px;
		background-color: rgba(255,255,255,.7);
		z-index: 999;
	}
	
	.scorebox-fake{
		text-shadow: none;
		font-weight: bold;
		width: 250px;
		color: #000000;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
		background-color: rgba(255,255,255,.7);
	}

	.sliders, .reg-sliders{
		text-align: center;
		text-shadow: none;
		width: 95%;
		font-size: 16px;
		padding-bottom: 3px;
		color: #FFFFFF;
		/*background-color: rgba(200,200,200,0.3);*/
	}

	.registerpanel{
		color: white;
		text-shadow: none;
		height: 100%;
	}
	
	.edit-comment-panel{
		color: white;
		text-shadow: none;
		width: 100%;
	}
	
	.loginpanel{
		background-color: #FAEBCD;
		color: white;
		font-weight:bold;
		text-shadow: none;
		text-align: center;
		width: 90%;
		height: 100%;
		padding-right: 20px;
		padding-left: 10px;
		padding-bottom: 20px;
	}

	/*.login { 
		text-align: center;
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #E7E1D8;
		padding-bottom: 20px;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 9999999;

	}*/

	.logout {
		display:none;
		text-align: center;
		overflow-y: auto;
		overflow-x: hidden;
		text-align: left;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: #88ADAA;
		overflow: auto;
		z-index: 999;
	}

	.landing {
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		/*background-image:url('../img/cafe/cafe_bg.jpg');*/
		/*background-color: #FAEBCD;*/
		background: #88ADAA; /* Old browsers */
		overflow: auto;
		z-index: 999;
	}

	.loading{
		text-align: center;
		position: fixed;
		left: 0;
		top: 0;
	/*bottom: 0;
	right: 0; */
	color: white;
	width: 100%;
	height: 100%;
	background-color: #88ADAA;

	padding-top: 20px;
	padding-bottom: 20px;

	overflow: auto;
	z-index: 99999;
	}

.landing-header {
	font-family: verdana, sans-serif;
	text-shadow: none;
	color: #FFFFFF;
	font-size: 42px;
	text-align: center;
	width: 100%;
	line-height: 42px;
}

.rc-sub-header {
    width:95%;
    text-align: left;
    padding-bottom:5px;
    font-size: 14px;
}

.basic-header {
	font-family: verdana, sans-serif;
	text-shadow: none;
	text-align: center;
	color: #594027;
	font-size: 30px;
	line-height: 34px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.basic-header2 {
	font-family: verdana, sans-serif;
	text-shadow: none;
	text-align: center;
	color: #594027;
	font-size: 26px;
	line-height: 28px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.basic-sub-header {
	font-family: verdana, sans-serif;
	text-shadow: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.basic-sub-sub-header{
font-size: 18px;
padding-left: 7px;
padding-right: 7px;
font-family: verdana, sans-serif;
color: #FFFFFF;
line-height:18px;
}

.basic-fine-print{
font-size: 14px;
color: #FFFFFF;
font-weight:bold;
line-height:16px;
text-align:right;
padding-right: 5px;
font-family: verdana, sans-serif;
padding-left: 5px;
}

.about-link a {
color: #FFFFFF;
font-size: 16px;
padding-right: 7px;
}

.landing-desc {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 27px;
	font-family: verdana, sans-serif;
	text-shadow: none;
	color: #FFFFFF;
	font-size: 28px;
	height: 100%;
	left: 0;
	text-align: left;
}

.landing-intro {
	text-align: center;
	background-color: #88ADAA;
	padding-top: 30px;
	padding-bottom: 10px;
	vertical-align: middle;
}

.button {
	padding: 5px;
}

#question {
	background-color: #EEE9DF;
	width: 100%;
	line-height: 2em;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 20px;
}

.comment-admin-text {
    text-align: right;
    padding-right: 5px;
}

.comment-admin-text-a{
    font-size: 13px !important;
    color: #FFFFFF !important;
    font-family: verdana, sans-serif;
}

.answer {
	background-color: #E7E1D8;
	width: 95% !important;
	height: 150px !important;
	padding-right: 10px;
	font-size: 16px !important;
	font-family: verdana, sans-serif;
	text-shadow: none !important;
	overflow-y:scroll !important;
}

.standard-btn-div {
    width: 100%;
    max-width: 220px;
    height: auto;
    padding-bottom: 10px;
}

.standard-btn-div .ui-btn-inner{
    font-family: verdana, sans-serif;
    line-height: 25px;
    corner-radius: 0px !important;
}

.standard-btn-div .ui-btn{
    font-family: verdana, sans-serif;
    line-height: 25px;
    border-radius: 0px !important;
}

.home-btn-dialog-box {
    width:55px;
    padding-left: 10px;
    padding-bottom: 3px;
}

.home-btn-dialog-box .ui-btn-inner{
    font-family: verdana, sans-serif;
    line-height: 20px;
    padding: 0px;
}

.home-btn-dialog-box .ui-btn{
    font-family: verdana, sans-serif;
    line-height: 20px;
    border-radius: 0px !important;
}

.answerwrapper {
	/*background-color: #E7E1D8;*/
	/*background: url('../img/cafe/cafe_notebook.png') repeat-y;*/
	text-shadow: none;
	color: #FFFFFF;
	padding-top: 7px;
}

.rate-warp {
	position: relative;
}

.slider-question {
	width: 100%;
	font-size: 15px;
}

.rated, .rated-thanks {
	display: none;
	height: 50px;
	line-height: 50px;
	font-size: 13px;
	font-weight: 900;

	width: 100%;
	text-align: center;

	position: absolute;
	top: -50px;
	background-color: white;
}

.rate-loading {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: #88ADAA;
	color: white;
	padding: 20px 0;
	text-align: center;
}


#d3 {
	display: block;
	background-image:url('../img/cafe/cafe_bg.jpg');
	background-size:cover;
	width: 100%;
	height: 100%;

	position: relative;
	/*z-index: 999; */

}

.dialog-style{
	background: #88ADAA;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	display: none;
}

.dialog-text-style {
	position: relative;
        vertical-align: middle;
        font-family: verdana, sans-serif;
	color: #FFFFFF;
	background: #88ADAA;
	height: 100%;
	text-decoration: none;
	text-shadow: none;
	font-size: 18px;
	line-height: 18px;
}

.dialog-text-style-noflow {
	position: relative;
        vertical-align: middle;
        font-family: verdana, sans-serif;
	color: #FFFFFF;
	background: #88ADAA;
	text-decoration: none;
	text-shadow: none;
	font-size: 16px;
	line-height: 16px;
}

.dialog-text-notitle {
	position: relative;
        vertical-align: middle;
        font-family: verdana, sans-serif;
	color: #FFFFFF;
	background: #88ADAA;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-shadow: none;
	padding-left: 10px;
	font-size: 18px;
	line-height: 18px;
	padding-top: 10px;
}

.axis path,
    .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }

    .axis text {
      font-family: verdana, sans-serif;
      font-size: 10px;
    }

    .timeline-label {
      font-family: verdana, sans-serif;
      font-size: 12px;
    }
    
    #timeline .axis {
      transform: translate(0px,30px);
      -ms-transform: translate(0px,30px); /* IE 9 */
      -webkit-transform: translate(0px,30px); /* Safari and Chrome */
      -o-transform: translate(0px,30px); /* Opera */
      -moz-transform: translate(0px,30px); /* Firefox */
    }

    .coloredDiv {
      height:20px; width:20px; float:left;
    }
   
   .rate-username{
	 font-size: 16px;
	 font-family: verdana, sans-serif;
	 color: #FFFFFF;
   }

  .avg-grades div {
	font: 16px sans-serif;
	 background-color: steelblue;
	text-align: right;
	 padding: 3px;
	margin: 1px;
	color: white;
 	}


.noUi-base {
	background-color: #6b8583;
	border: 2px solid #6b8583;
	border-radius:35px;
	height: 12px !important;
}

.noUi-background{
	background: none !important;
}

.noUi-handle {
	border: 1px solid #FFFFF0 /*{b-bup-border}*/;
	background: #FFFFF0 /*{b-bup-background-color}*/;
	/*border: 1px solid #AAAAAA;

	background-image:-webkit-gradient(linear,left top,left bottom,from(#E8B91A),to(#FFC501));
	background-image:-webkit-linear-gradient(#E8B91A,#FFC501);
	background-image:-moz-linear-gradient(#E8B91A,#FFC501);
	background-image:-ms-linear-gradient(#E8B91A,#FFC501);
	background-image:-o-linear-gradient(#E8B91A,#FFC501);
	background-image:linear-gradient(#E8B91A,#FFC501);*/
	
background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFF0 /*{b-bup-background-start}*/), to( #FFFFFF /*{b-bup-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #FFFFF0 /*{b-bup-background-start}*/, #FFFFFF /*{b-bup-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #FFFFF0 /*{b-bup-background-start}*/, #FFFFFF /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFF0 /*{b-bup-background-start}*/, #FFFFFF /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFF0 /*{b-bup-background-start}*/, #FFFFFF /*{b-bup-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #FFFFF0 /*{b-bup-background-start}*/, #FFFFFF /*{b-bup-background-end}*/);

	margin: -10px 0px 0px -10px;

	width: 30px !important;
	height: 30px !important;

	-moz-box-shadow:0 1px 3px rgba(0,0,0,.2);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.2);
	box-shadow:0 1px 3px rgba(0,0,0,.2);

	/*border-radius: 45%;*/
}

.header-img-topic{
    padding-bottom: 0px;
    position:relative;
    left: -10px;
    width:106%;
    max-width:400px;
    max-height:200px;
    padding-top:3px;
}

.welcome-back {
		text-align: left;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		display: none;
		/*background-image:url('../img/cafe/cafe_bg.jpg');*/
		/*background-color: #FAEBCD;*/
		background-color: #88ADAA;
		overflow: auto;
		z-index: 999;
	}

.responsive-max-width{
        max-width: 500px;
        margin: auto;
}
/*.loading {
	display: block;
	height: 100%;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
*/

/*input[type=submit]:active, input[type=button]:active {
	border-style: inset;
}*/
