{% extends "instructor_base.html" %}

{% block mainContent %}
    <h1> My Account </h1>
    <p>
    <span id='disc_block'></span>
        <table id="users" class="overviewTable" style="padding-top:4px;">
        	<thead>
            	<tr>
                <th>Change Password</th>
                </tr>
            </thead>
            <tbody id="overviewbody">
                <!-- <center><form method="POST" action="."> -->

                  
                    
                    
                    <form method="POST" action="/instructor/password/">
                     
                    

                    <table>
                            <tr>
                                <td style="padding-left:82px">New Password: <input type="password" name="pswd"></td>
                                
                            </tr>
                            <tr>
                                <td style="padding-left:40px">Retype new password: <input type="password" name="pswd2"></td>
                            </tr>
                    </table>
                    <br>
                    <div style="margin-left:150px;">
                        {% if noMatch   %}
                        The two passwords do not match.
                        {% endif %}
                    </div>
                    <br>
                    <input type=submit style="margin-left:200px;" value='Submit'>
                    </form>

                    
                <!-- <tr>
                	<td>
                        <center>
                		<form action="/instructor/password" style="padding-left:6px"> Enter new password:    <input type="password" name="pswd">
                            </center>
                            <br>
                            <center>
                        <form action="/instructor/password" >Retype new password: <input type="password" name="pswd">
                            </center>

                            <center>
                            <br>
                            <input type="submit" value="Submit"></form>
                            
                            </center>
                	</td>
                </tr> -->
                
                <!-- <tr>
                	<td>
                		<form>Confirm password: <input type="password"></form>
                </tr> -->
            </tbody>
			<tbody id="overviewcontent">
			</tbody>
        </table>

        <table id="users" class="overviewTable" style="padding-top:4px;">
        	<thead>
            	<tr>
                <th>My Courses</th>
                </tr>
            </thead>
            <tbody id="overviewbody">
            	{%for course in courses%}
                <tr>
                	<td>
                		<ul>
                			<li>{{course}}</li>
                		</ul>
                	</td>
                </tr>
                {%endfor%}
            </tbody>
			<tbody id="overviewcontent">
			</tbody>
        </table>

{%endblock%}