<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
    <head>
        <rel="stylesheet" type="text/css" href="css/main.css" />
        <meta http-equiv="content-type" content="text/php; charset=utf-8" />
	<style>
	  * {
	  background-color: #88ADAA; /*#04376C; */
	  }

	  #frame {
	  overflow: scroll; 
	  }

	  #message {
	  color: white;
	  font-family: sans-serif;
	  }
	  </style>
	
        <title>California Report Card</title>
    </head>
    <body>
	<center>
	  <!-- 
	       Common phone screen sizes (h, w):
	       iPhone 4: (480, 320)
	       iPhone 5: (560, 320)
	       iPad portrait: (981, 644)
	       iPad landscape: (644, 981)
	    -->
	  
	  <iframe id="frame" src="{{ url_root }}/mobile/" height="480" width="320" >
	  </iframe>
	  <br/> <br/>
	  <div id="message">
	    The California Report Card is optimized for mobile screen sizes.
	  </div>

	</center>
    </body>
</html>
