<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
    <head>
        <rel="stylesheet" type="text/css" href="css/main.css" />
        <meta http-equiv="content-type" content="text/php; charset=utf-8" />

        <title>CAFE</title>
    </head>
    <body>
	<center>
	iPhone 4<br/>
	<iframe src="{{ url_root }}/mobile/" height="480" width="320" ></iframe><br/>
	iPhone 5<br/>
	<iframe src="{{ url_root }}/mobile/" height="560" width="320" ></iframe><br/>
        iPad Potrait<br/>
        <iframe src="{{ url_root }}/mobile/" height="981" width="644" ></iframe><br/>
        iPad Landscape<br/>
        <iframe src="{{ url_root }}/mobile/" height="644" width="981" ></iframe>
<br/>
	</center>
    </body>
</html>
