{% extends "admin_base.html" %}

{% block mainContent %}
    <h1> Comment Statistics </h1>
	<table>
	<thead>
            	<tr>
                <th>Top 10 frequently used words:</th>
                </tr>
            </thead>
            <tbody id="overviewbody">
                <tr><td id="totalActiveUsers">
	<ul>
	<script>
    data = eval({{word_list|safe}});
	for (x in data)
  {
	document.write("<li>"+data[x] + "</li>");
  }
	</script>
	</ul>
	</td></tr>	
            </tbody>
			<tbody id="overviewcontent">
			</tbody>
        </table>
    </p>
{% endblock %}

