{% extends "admin_base.html" %}

{% block mainContent %}
<div style='padding:15px'>
{% if saved	 %}
 Settings Updated!
{% endif %}
	<form method="POST" action="."><table>
	{% for category, category_set, image_list in categories %}
		{% if forloop.last %}
			{% for field in form %}
					{% if field.label|upper not in category_set %}
					{% endif %}
			{% endfor %}
		{% else %}
			<tr><td colspan=2 bgcolor='#CCC'>{{category}}</td></tr>
			{% for field in form %}
					{% if field.label|upper in category_set %}
					<tr>
	        			<td>{{ field.help_text}}:</td>
						<td>{{ field }}</td>
	      			</tr>
					{% endif %}
			{% endfor %}
			<tr><td colspan="2">
			<p align="center">
			{% for image in image_list %}
					<img src="{{ url_root }}/media/config/{{ image }}" width="50%" height="50%"/>
			{% endfor %}
			<p/>
			</td></tr>
		{% endif %}
	{% endfor %}
  	</table>
  	<input type=submit value='Save Settings'>
	</form>
</div>
{% endblock %}
