<!DOCTYPE html>
<head>
	<meta name='viewport' content='user-scalable=no, width=device-width,initial-scale=1, maximum-scale=1' />

</head>
<style>

</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
<link rel="stylesheet" href="{{url_root}}/media/mobile/css/stats.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2"></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/jquery-mobile/jquery-1.10.2.min.js'></script>


<div class="home-btn-dialog-box">
    <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
    <a href="{{url_root}}/"><img width="30px;" id="home-btn" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png"></a>
    <img width="30px;" id="help-btn" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
</div>

<div class="title-header">
    <img width="270px;" src="{{url_root}}/media/mobile/img/cafe/CRC_stat_title_03.png"><br>
    <img width="210px;" src="{{url_root}}/media/mobile/img/cafe/CRC_stat_title_02.png">
</div>
<br>
<center>
<div class="stats-section">
Data as of <strong>{{date}}</strong><br>
    Over <strong>7,000</strong> people have visited and over <strong>20,000</strong> grades have been entered so far. Of these, <strong>{{num_participants}}</strong> participants entered their zip code.
</div>


<br>
<hr>
<div class="stats-section-title" id="geodistribution">
    <div class="stats-label-big">
        GEOGRAPHIC DISTRIBUTION OF MEDIAN GRADES ASSIGNED
    </div><br>
    <span style="font-size:16px; font-weight:bold">Select an issue:</span> <br>
    <select id="CA_selector" onchange="changeData(this)" >
	{% for median in medians %}
	<option value="{{median.id}}">{{median.id}}. {{ median.statement}}</option>
	{% endfor %}
    </select><br/><br>

    <script>
        $.get("{{url_root}}/media/mobile/js/geostat.js")
            .fail(function() { 
            $( "#geodistribution" ).html( "<div class='stats-label-big'>GEOGRAPHIC DISTRIBUTION <br/> OF MEDIAN GRADES ASSIGNED</div><br><br><span style=' font-size:14px;color: #f5ebde;'>We will present geographical distribution soon</span><br/><br>" );
            document.getElementById( "#geodistribution" ).style.height="40px";
            })
    </script>
    <center>
<div id="map"></div>
</center>
</div>
<br>
<hr>
<div class="stat-section-title" id="geopercapita">
     <div class="stats-label-big">
        PARTICIPANTS PER 10000 POPULATION BY COUNTY
    </div><br>
    <script>
        $.get("{{url_root}}/media/mobile/js/geostat_population.js")
            .fail(function() { 
            $( "#geopercapita" ).html( "<div class='stats-label-big'>PARTICIPANTS PER  <br/> 10000 POPULATION</div><br><br><span style=' font-size:14px;color: #f5ebde;'>We will present geographical participantion soon</span><br/><br>" );
            document.getElementById( "#geodistribution" ).style.height="40px";
            })
    </script>
    <div id="map_capita"></div>
</div>
<br>
<hr>


<div class="stats-section-title">
    <div class="stats-label-big">
        GRADES ASSIGNED TO THE STATE OF CALIFORNIA
    </div>

    <span style="font-size:12px;">The median grade is marked in brown</span><br><br>

    {% for median in medians %}
     <div class="responsive-img-box-{{median.id}}">
       <strong>Issue {{median.id}}: {{median.statement}}</strong>
 
         <div class="stat-img" id="{{median.id}}">
 
 
         </div>
    {% autoescape off %}
        <script>
			$.get('{{url_root}}/media/mobile/img/dailyupdate/{{median.statement}}.png')
			.done(function() { 
            var img = $('<img/>');
            img.attr('src', '{{url_root}}/media/mobile/img/dailyupdate/{{median.statement}}.png');
            img.appendTo('#{{median.id}}');
            })
            .fail(function() { 
            $( "#{{median.id}}" ).html( "<br><span style=' font-size:14px;color: #f5ebde;'>We will present histograms soon</span><br/><br>" );
            document.getElementById( "#{{median.id}}" ).style.height="20px";
            })
        </script>
    {% endautoescape %}
    </div>
    {% endfor %}
</div>
<br>
<hr>
<br>
<div class="stats-section">
<strong>Thanks for participating!</strong> <br><br>
   <div class="issue-txt" id="final-remark">
   
Lt. Gov. Gavin Newsom and UC Berkeley 
Professor Ken Goldberg will present 
the data and lessons learned from 
version 1.0 in a public forum at UC 
Berkeley on 20 March 2014 that will 
include participants who actively 
contribute to identifying the most 
important issues for version 2.0.

Please consider joining us for the Public Forum
<a href="http://bit.ly/1ii67bm" target="_blank">http://bit.ly/1ii67bm</a>
</div>
<br>
<span style="font-style:Italic;">For more information:</span>
<a href="http://californiareportcard.org/">californiareportcard.org/</a>
<div>
	</center>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/geostat.js'></script>  
<script type='text/javascript' src='{{url_root}}/media/mobile/js/map.js'></script>  
<script type='text/javascript' src='{{url_root}}/media/mobile/js/geostat_population.js'></script>  
<script type='text/javascript' src='{{url_root}}/media/mobile/js/map_capita.js'></script>  
</body>
</html>
