<!DOCTYPE html>
<head>
	<meta name='viewport' content='user-scalable=no, width=device-width,initial-scale=1, maximum-scale=1' />
    <title>CRC Stats Page</title>
</head>
<style>

</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
<link rel="stylesheet" href="{{url_root}}/media/mobile/css/stats.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2"></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/jquery-mobile/jquery-1.10.2.min.js'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/cartogram.js'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/topojson.js'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/map_capita_carto.js'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/map_grade_carto.js'></script>


<!--<div class="home-btn-dialog-box">
    <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
    <a href="{{url_root}}/"><img width="30px;" id="home-btn" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png"></a>
    <img width="30px;" id="help-btn" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
</div>-->

<div class="title-header">
    <img width="270px;" src="{{url_root}}/media/mobile/img/cafe/CRC_stat_title_03.png"><br>
    <img width="210px;" src="{{url_root}}/media/mobile/img/cafe/CRC_stat_title_02.png">
</div>
<br>
<center>
<div class="stats-section">
Data as of <strong>{{date}}</strong><br>
    Over <strong>10,000</strong> people have visited and over <strong>30,000</strong> grades have been entered so far.</div>


<br>
<hr>
<div class="stats-section-title" id="geodistribution">
    <div class="stats-label-big">
        GEOGRAPHIC DISTRIBUTION OF MEDIAN GRADES ASSIGNED
    </div><br>
    <span style="font-size:16px; font-weight:bold">Select an issue:</span> <br>
    <select id="CA_selector" onchange="changeData(this)" >
	{% for median in medians %}
	<option value="{{median.id}}">{{median.id}}. {{ median.statement}}</option>
	{% endfor %}
    </select><br/><br>

    <!--<script>
        $.get("{{url_root}}/media/mobile/js/geostat.js")
            .fail(function() { 
            $( "#geodistribution" ).html( "<div class='stats-label-big'>GEOGRAPHIC DISTRIBUTION <br/> OF MEDIAN GRADES ASSIGNED</div><br><br><span style=' font-size:14px;color: #f5ebde;'>We will present geographical distribution soon</span><br/><br>" );
            document.getElementById( "#geodistribution" ).style.height="40px";
            })
    </script>-->
    <center>
        <button type="button" onclick="map_grade_update()">Click to transform the map to a cartogram</button>
        <div id="map" style="height: 370px; width:360px;"></div>
        The cartogram distorts the map so that each county's area is proportional to its population.
</center>
</div>
<br>
<hr>
<div class="stat-section-title" id="geopercapita">
     <div class="stats-label-big">
        PARTICIPANTS PER 10000 POPULATION BY COUNTY
    </div><br>
    <!--<script>
        $.get("{{url_root}}/media/mobile/js/geostat_population.js")
            .fail(function() { 
            $( "#geopercapita" ).html( "<div class='stats-label-big'>PARTICIPANTS PER  <br/> 10000 POPULATION</div><br><br><span style=' font-size:14px;color: #f5ebde;'>We will present geographical participantion soon</span><br/><br>" );
            document.getElementById( "#geodistribution" ).style.height="40px";
            })
    </script>-->
    <button type="button" onclick="map_capita_update()">Click to transform the map to a cartogram</button>
    <div id="map_capita" style="height: 370px; width:360px;"></div>
    The cartogram distorts the map so that each county's area is proportional to its population.
</div>
<br>
<hr>


<div class="stats-section-title">
    <div class="stats-label-big">
        GRADES ASSIGNED TO THE STATE OF CALIFORNIA
    </div>

<div class='dialog dialog-style'>
  <center>
    <div class="home-btn-dialog-box">
            
          {% for k,v in statement_hist.iteritems %}
          
    <div class="compare-box-{{k.id}}" style="padding-bottom: 10px;width: 310px; margin: 20px; display: inline-block">
            
            {{k.statement}}        

            <canvas id="sparkLineCanvas{{k.id}}" width="300" height="80"></canvas>
            
            <div>

        <script>
         var canvas = document.getElementById('sparkLineCanvas{{k.id}}');
         var context = canvas.getContext('2d');

         //if ({{k.id}} % 2 == 1)
         //    $('.compare-box-{{k.id}}').css("background-color","rgba(0,0,0,0.05)")

         var data = {{v}};
         var max_of_array = Math.max.apply(Math, data);

         //window.statement_processed_data[({{k.id}}-1)] = data

         context.beginPath();
         context.lineWidth = 10;
         context.strokeStyle = '#442b10';
         context.shadowColor = '#ffffff';
               context.shadowOffsetX = 1;
               context.shadowOffsetY = 1;
         //context.moveTo(0, 45 - data[0]/max_of_array*38);
         for (i = 0; i <= 13; i++)
         {
          var skipOffset = 0
          if (i == 13)
            skipOffset = 7

     context.moveTo(i*21+5+skipOffset, 68);
     context.lineTo(i*21+5+skipOffset, 68 - data[i]/max_of_array*65);
     context.stroke(); 
         }

         context.font="italic small-caps bolder 12px sans-serif";
         context.fillStyle = '#442b10';
         context.fillText("A+",0,80);

         context.fillText("F",163,80);
         context.fillText("Ø",277,80);
        </script>

      </div>
            
          </div>
          {% endfor %}

      </div>


</div>
<br>
<hr>
<br>
<div class="stats-section">
<strong>Thanks for participating!</strong> <br><br>
<br>
<span style="font-style:Italic;">For more information:</span>
<a href="http://californiareportcard.org/">californiareportcard.org/</a>
<div>
	</center>
<!--<script type='text/javascript' src='{{url_root}}/media/mobile/js/geostat.js'></script>-->
<!--<script type='text/javascript' src='{{url_root}}/media/mobile/js/map.js'></script>-->
<!--<script type='text/javascript' src='{{url_root}}/media/mobile/js/geostat_population.js'></script>-->
<!--<script type='text/javascript' src='{{url_root}}/media/mobile/js/map_capita.js'></script>-->
</body>
</html>
