<!DOCTYPE html>
<head>
	<meta name='viewport' content='user-scalable=no, width=device-width,initial-scale=1, maximum-scale=1' />
	<script type='text/javascript'>
		window.userhist1_url="{{url_root}}/media/mobile/img/dailyupdate/{{participant}}_1.png"
		window.userhist2_url="{{url_root}}/media/mobile/img/dailyupdate/{{participant}}_2.png"
		window.show_hist1={{show_hist1}}
		window.show_hist2={{show_hist2}}	
    </script>
</head>
<style>

</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
<link rel="stylesheet" href="{{url_root}}/media/mobile/css/stats.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2"></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/jquery-mobile/jquery-1.10.2.min.js'></script>


<div class="home-btn-dialog-box">
    <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
    <a href="{{url_root}}/mobile/"><img width="30px;" id="home-btn" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png"></a>
    <img width="30px;" id="help-btn" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
</div>

<div class="title-header">
    <img width="270px;" src="{{url_root}}/media/mobile/img/cafe/CRC_stat_title_01.png">
</div>

<div class="stats-section">
    Data as of <strong>{{date}}</strong>
    {% if level8 %}
    Your participant number is <strong>{{participant}}</strong>
    {% endif %}
    Number of Participants: <strong> {{num_participants}}</strong>
    {% if level8 %}
    Your Participation Score: <strong> {{score}}</strong>
    
    Number of Participants who graded <br/>your suggestion: <strong>{{received}}</strong>
    {% endif %}
</div>

<div class="seperate-lines">
<canvas id="seperate-lines1" width="260" height="4"> 

</canvas>
</div>

<div class="stats-section-title">
    <div class="stats-label-big">
        THE ISSUE YOU SUGGESTED<br/> FOR VERSION 2.0 OF THE CRC:
    </div>
</div>

{% if left_comment %}
<div class="stats-section-title">
    <div class="issue-text">
        {{comment}}
    </div>
</div>
{% else %}
  
  <div class="stats-section-title">
	   <span class="fine-print">Please visit the report card and <br>suggest an issue</span>
  </div>

{% endif %}


 <div class="seperate-lines">
<canvas id="seperate-lines2" width="260" height="4"> 
</canvas>
</div>


<div class="stats-section-title">
    <div class="stats-label-big">
        GRADES ASSIGNED TO <br/>YOUR SUGGESTION
    </div>
</div>

{% if level8 %}
   {% if left_comment %}
     <div class="stats-section-title" id="userhist">
     "How important is this issue for the <br/> next Report Card?"
     
     <div class="stat-img" id="userhist1"></div>     

     "How would you grade California on <br/>this issue?"
    
     <div class="stat-img" id="userhist2"></div>
     
     </div>
   {% else %}
      <div class="stats-section-title">
	  <span class="fine-print">Please visit the report card and <br>suggest an issue</span>
      </div>
   {% endif %}

{% else %}
  <div class="stats-section-title">
	   <span class="fine-print">Please visit the report card, <br>suggest an issue, and leave <br>your email to see how others <br>grade your idea</span>
  </div>
{% endif %}

<div class="seperate-lines">
<canvas id="seperate-lines3" width="360" height="4"> 
</canvas>
</div>

<div class="stats-section-title">
    <div class="stats-label-big">
        GRADES ASSIGNED TO THE <br/>STATE OF CALIFORNIA
    </div>

    <span style="font-size:14px; font-style:Italic;">The median grade is marked in brown</span>

    {% for median in medians %}
    <strong>Distribution of Grades for Issue {{median.id}}:</strong><br>
        <div class="issue-text">{{median.statement}}</div>
    <div class="stat-img">
        <img src="{{url_root}}/media/mobile/img/dailyupdate/{{median.statement}}.png" width="310" style="display:block;"/>

    </div>
    {% endfor %}

</div>
<div class="seperate-lines">
<canvas id="seperate-lines4" width="348" height="4"> 
</canvas>
</div>


<div class="stats-section-title">
    <div class="stats-label-big">
        GEOGRAPHIC DISTRIBUTION <br/> OF MEDIAN GRADES ASSIGNED
    </div>
    <strong>Issues:</strong><select id="CA_selector" onchange="changeData(this)" >
	{% for median in medians %}
	<option value="{{median.id}}">{{ median.statement}}</option>
	{% endfor %}
</select><br/>

<div id="map"></div>

</div>

<div class="stats-section">
<strong>Thanks for participating!</strong> 
   <div class="issue-txt" id="final-remark">
   You can return anytime using this URL 
   to check your grades.
   
Lt. Gov. Gavin Newsom and UC Berkeley 
Professor Ken Goldberg will present 
the data and lessons learned from 
version 1.0 in a public forum at UC 
Berkeley on 20 March 2014 that will 
include participants who actively 
contribute to identifying the most 
important issues for version 2.0.
</div>

<span style="font-style:Italic;">For more information:</span>
<a href="http://californiareportcard.org/">californiareportcard.org/</a>
<div>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/geostat.js'></script>  
<script type='text/javascript' src='{{url_root}}/media/mobile/js/map.js'></script>  
<script type='text/javascript' src='{{url_root}}/media/mobile/js/crcstats.js'></script>
</body>
</html>
