{% extends "instructor_base.html" %}

{% block mainContent %}
<div style="padding:15px">
  <h1>User Demographics</h1>
  <p>
  <table id="to1" class="overviewTable">
    <thead>
      <tr>
	<th>Major Distribution</th>
      </tr>
    </thead>
    <tbody>
      <td>
        <div style="text-align:left"><img src="{{url_root}}/media/images/majors.png" alt="image" align="middle" height="500" width="600">
        </div>
      </td>
    </tbody> 
   </table>

 <table id="to1" class="overviewTable">
    <thead>
      <tr>
	<th>Year In College</th>
      </tr>
    </thead>
    <tbody>
      <td>
        <div style="text-align:left"><img src="{{url_root}}/media/images/years.png" alt="image" align="middle" height="500" width="600">
        </div>
      </td>
    </tbody>  
   </table>

 <table id="to1" class="overviewTable">
    <thead>
      <tr>
	<th>Number of Design Courses Taken</th>
      </tr>
    </thead>
    <tbody>
      <td>
        <div style="text-align:left"><img src="{{url_root}}/media/images/courses.png" alt="image" align="middle" height="500" width="600">
        </div>
      </td>
    </tbody>  
   </table>

 <table id="to1" class="overviewTable">
    <thead>
      <tr>
	<th>Reason Taking This Course</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            {%for reason in reasons%}
            <li>{{reason}}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody> 
   </table>
 </p>
</div>
{% endblock %}
