<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Opinion Space 2.0 - Under Construction</title>
</head>

<body style="background-color: #001f37; color:#FFFFFF; font-family: sans-serif;" link="#fedd6c" alink="#fedd6c" vlink="#fedd6c">
	<div>
		<h1>Opinion Space Staging Site<br/>(Please Note: these sites are under construction...)</h1>

		<span><a href="http://opinion-labs.berkeley.edu/opinion-space-2.0/"><b>Opinion Space 2.0</b>:</a>  New Design, topic: US Domestic Policy from O.S. 1.0</span>
		<br/>
		<span><a href="http://opinion-labs.berkeley.edu/opinion-space-2.1/"><b>Opinion Space 2.1</b>:</a>   New Design, topic: US International Policy</span>
		
	</div>
</body>
</html>