<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Opinion Space Instructor Panel</title>
	<link href="../media/css/styles.css" rel="stylesheet" type="text/css" />
	<script src="../media/js/main.js" type="text/javascript"></script>
</head>
<body class="opinionSpace">
<div style='padding:15px;'>
<p/>

<h1>To continue to the instructor panel, you must login in first.</h1>

<p>	
{% if fail	 %}
Username or password is incorrect.
{% endif %}
</p>

<center><form method="POST" action=".">
	<table>
			{% for field in form %}
					<tr>
	        			<td>{{ field.label }}</td>
						<td>{{ field }}</td>
	      			</tr>
			{% endfor %}
  	</table>
  	<input type=submit value='Login'>
	</form></center>
</div>
</body>
</html>