<!DOCTYPE html>
<html lang='en'>
<head>

  <title>{{ client_settings.WELCOME_PAGE_TITLE }}</title>

  <!-- for best viewing on mobile phones -->
  <!-- <meta name='viewport' content='width=device-width, initial-scale=1.0'> -->
  <meta name='viewport' content='user-scalable=no, width=device-width' />
  <link rel='stylesheet' type='text/css' href='./../media/mobile/css/reset.css' />
  <link rel='stylesheet' type='text/css' href='./../media/mobile/bootstrap/css/bootstrap-responsive.min.css' />

  <script type='text/javascript'>
  window.url_root = '{{ url_root }}';
  window.num_sliders = {{ statements|length }};
  window.conf = { 'SCORE_SCALE_FACTOR'  : {{ client_settings.SCORE_SCALE_FACTOR }},
  'YOUR_SCORE_LANGUAGE' : "{{ client_settings.YOUR_SCORE_LANGUAGE }}",
  'INSTRUCTIONS_3'      : "{{ client_settings.INSTRUCTIONS_3 }}",
  'FUN_COLORS'          : {{ client_settings.FUN_COLORS }}
};

</script>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.js'></script>
<script src="./../media/mobile/js/jquery.nouislider.min.js"></script>

<script>
// TURNING OFF ALL AJAX
$.ajaxSetup({
  async: false
});

jQuery(document).ready(function() {
  $(".endslider-slider").noUiSlider({
    range: [0, 100], start: 50, step: 5, handles: 1,connect: false,
  }).change(function () {
    var id = $(this).attr('id');
    id = parseInt(id.substring(1, id.length)); // strips the leading 's'
    update_score(id);

  });

  $(".rating-slider").noUiSlider({
    range: [0, 100], start: 50, step: 5, handles: 1,connect: false
  });

  $(".change-rating-slider").noUiSlider({
    range: [0, 100], start: 50, step: 5, handles: 1,connect: false

  });
});


</script>

<script type='text/javascript' src='./../media/mobile/js/csrf-ajax.js'></script>
<script type='text/javascript' src='http://d3js.org/d3.v2.min.js'></script>
<script src="./../media/mobile/js/d3-timeline.js"></script>
<!--<script type='text/javascript' src='./../media/mobile/bootstrap/js/bootstrap.min.js'></script>-->
<script type='text/javascript' src='./../media/mobile/js/blooms.js'></script>
<script type='text/javascript' src='./../media/mobile/js/accounts.js'></script>
<script type='text/javascript' src='./../media/mobile/js/rate.js'></script>
<script type='text/javascript' src='./../media/mobile/js/utils.js'></script>
<script type='text/javascript' src='http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js'></script>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type='text/javascript' src='./../media/mobile/js/stats.js'></script>
<script>
stats.setConf("{{ client_settings.AGREEMENT_HISTOGRAM_TEXT }}", 
  "{{ client_settings.LEGEND_AGREEMENT_LEFT }}",
  "{{ client_settings.LEGEND_AGREEMENT_RIGHT }}",
  "{{ client_settings.INSIGHT_HISTOGRAM_TEXT }}",
  "{{ client_settings.LEGEND_INSIGHT_LEFT }}",
  "{{ client_settings.LEGEND_INSIGHT_RIGHT }}");
</script>


<link rel='stylesheet' type='text/css' href='http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css' />
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Belleza'/>
<link rel='stylesheet' type='text/css' href='./../media/mobile/css/opinionspace.css' />
<link href="./../media/mobile/css/jquery.nouislider.min.css" rel="stylesheet">

<script type="text/javascript">

var medians = {{ medians|safe }}; 

function score_to_grade(score1) {

  var score = 100 - score1;
  
  if (score == 100)
    return 'A+';
  else if (score > 93)
    return 'A';
  else if (score > 87)
    return 'A-';
  else if (score > 81)
    return 'B+';
  else if (score > 69 )
    return 'B';
  else if (score > 63 )
    return 'B-';
  else if (score > 56 )
    return 'C+';
  else if (score > 44 )
    return 'C';
  else if (score > 38 )
    return 'C-';
  else if (score > 32 )
    return 'D+';
  else if (score > 19 )
    return 'D';
  else if (score == 0 )
    return 'F';
  else
    return 'D-';
}

/** Updates statement number STATEMENT (which is of type number). */
function update_score(statement) {
  $('#g' + statement).html(score_to_grade($('#s' + statement).val()));
  $('#o' + statement).hide();
  $('#o' + statement).html(score_to_grade(medians[statement]*100))
  $('#o' + statement).delay(100).fadeIn();
  $('.s'+statement).slider('disable');
}
</script>

</head>

<body>

  <div class="top-bar" style="display:none;">
   <div class='header'>
    {% if client_settings.HEADER_IMAGE == "true" %}
    <img class="header-img-topic" src={{ client_settings.HEADER_IMAGE_SOURCE }} class="center" style="width:150px;"><br>
    {% endif %}
    Topic: {{ short_topic }}
  </div>

  <div data-role='navbar' class='menubar' >
    <ul>
      <li><a data-theme='b' class='stats-btn' >
        <span class='score-label'></span><span class='score-value'></span>
      </a></li>
      <li><a data-theme='b' class='my-comment-btn'>Stats</a></li>
      <li><a data-theme='b' class='logout-btn'>Logout</a></li>
    </ul>
  </div>

  <div class='instructions' id='instructions'>
    <span class='inst-score'><span class='score-label'></span><span class='score-value'></span></span>
    <span class='inst-text'>{{ client_settings.INSTRUCTIONS_1 }}</span>
  </div>

  <div class="margin"><!--<br><br><br><br>--></div>
</div>

<!-- <div class='rate-loading'><img src='img/ajax-loader.gif'>&nbsp; Comment loading...</div> -->
<div class='rate'>
  <div class='header'>Topic: {{ topic }}</div>

  <!--     <div class='rate-wrap'> -->
  <br/>

  <center>
    <div class="answerwrapper">
      <br/>
      <div id='commentInput' class='answer'></div>

      <div class='sliders'>
        <hr>
        {{ client_settings.AGREEMENT_TEXT }}<br/>
        <div class="slider-range-labels">
          <div class="alignleft">&larr;{{ client_settings.AGREEMENT_LEFT_TEXT }}</div>
          <div class="alignright">{{ client_settings.AGREEMENT_RIGHT_TEXT }} &rarr;</div>
        </div>
        <div style="clear: both;"></div>

        <div id="slider1" class="rating-slider"></div>

        <!--<input data-track-theme='b' data-theme='a' type='range' name='slider1' id='slider1' value='50' min='0' max='100' animate='true'/> -->

        <hr>

        {{ client_settings.INSIGHT_TEXT }}<br/>
        <div class="slider-range-labels">
          <div class="alignleft">&larr; {{ client_settings.INSIGHT_LEFT_TEXT }}</div>
          <div class="alignright">{{ client_settings.INSIGHT_RIGHT_TEXT }} &rarr;</div>
        </div>
        <div style="clear: both;"></div>

        <div id="slider2" class="rating-slider"></div>

        <!-- <input data-track-theme='b' data-theme='a' type='range' name='slider2' id='slider2' value='50' min='0' max='100' animate='true'/> -->
        <hr>
        <center>
          <div style="width: 100%;max-width: 300px;">
            <button type='submit' data-theme='a' id='go-back' onClick='rate.doneRating()' data-icon="check">Done Rating</button>
          </div>
        </center>


      </div>
    </div>
  </center>
  <!--     </div> -->  
  <br><br>

</div>
<div id='rating'>

  <div class='endsliders'>
      <!--<div class ='slider-header'>
        <p>Grade from A to F how well or poorly you feel California's elected officials are working to address the following key issues:</p>
      </div>-->
      <br>
      <center>
        <div class='reportcard'>
          <center>
           <div class="basic-header">Grade California's State Government</div>
           
           <div>Please grade from A to F how well you feel California's elected officials are working to address the following issues:</div> 
          <br/>
           <table class='cardtable' style="width:98%;">
            <tr>
              <td style="border-bottom: 1px double black;">
                Subject
              </td>
              <td style="border-bottom: 1px double black; width: 20px;">
                My Grade 
              </td>
              <td style="border-bottom: 1px double black; width: 20px;">
                Our Grade 
              </td>
            </tr>

            {% for statement in statements %}
            <tr>
              <td>
                {% ifnotequal statement.statement '' %}
                <div class='slider-question'>{{ statement.statement }} </div>
<!--                <p class='slider-question'> {{ statement.statement }} </p>

                <div id="grades" class="slider-agree-labels">
                  <div style="text-align: left;width: 10%;">A<span></span></div>
                  <div style="text-align: center;width: 26.2%;">B<span></span></div>
                  <div style="text-align: center;width: 26.2%;">C<span></span></div>
                  <div style="text-align: center;width: 26.2%;">D<span></span></div>
                  <div style="text-align: right;width: 10%;">F<span></span></div>
          </div>

          <br><div id="s{{statement.id}}" class="endslider-slider"></div>
-->
          {% else %}
          <!--<div style='display:none;'>
              <br><div id="s{{statement.id}}" class="endslider-slider"></div>
             <input type='range' id='s{{statement.id}}' name='s{{statement.id}}' value='50' min='0' max='100' animate='true'/> 
          </div>-->
          {% endifnotequal %}
          <br/>
        </td>
        
        <td style="vertical-align:middle;">
          <div id='g{{statement.id}}' class="grade"></div>
        </td>
        
        <td style="vertical-align:middle;">
          <div id='o{{statement.id}}' class="grade2"></div>
        </td>
        
        
      </tr>
    
      <tr>
        <td colspan="3">
                        {% ifnotequal statement.statement '' %}
                <div id="grades" class="slider-agree-labels">
                  <div style="text-align: left;width: 10%;">A<span></span></div>
                  <div style="text-align: center;width: 26.2%;">B<span></span></div>
                  <div style="text-align: center;width: 26.2%;">C<span></span></div>
                  <div style="text-align: center;width: 26.2%;">D<span></span></div>
                  <div style="text-align: right;width: 10%;">F<span></span></div>
            <!--<div class="alignleft">&larr; <i>F</i></div>
            <div class="alignright"><i>A+</i> &rarr;</div>-->
          </div>
          <!--<div style="clear: both;"></div>-->

          <br><div id="s{{statement.id}}" class="endslider-slider"></div>
          <!-- <input type='range' id='s{{statement.id}}' data-theme="d" name='s{{statement.id}}' class='s{{statement.id}}' value='50' min='0' max='100' step="5" style=""/> -->

          {% else %}
          <div style='display:none;'>
              <br><div id="s{{statement.id}}" class="endslider-slider"></div>
            <!-- <input type='range' id='s{{statement.id}}' name='s{{statement.id}}' value='50' min='0' max='100' animate='true'/> -->
          </div>
          {% endifnotequal %}
          <br/>
          </td>
      </tr>

      {% endfor %}

    </table>

    <div style="width: 100%; max-width: 300px;">
      <button type='submit' data-theme='e' class='done-endsliders-btn' data-icon="arrow-r">Next</button>
    </div>        

  </div>

</center>
</div>
</center>

</div>

</div>

<div class='my-comment'>
  <br/>
  <center>
   <div class='edit-comment-panel'>
    <div class='row' style='text-align:center;'>
      <div class='span6'>
        <br><br>
        <img src='./../media/mobile/img/bloom.png' width='10%'>
      </div>
      <div class='span6'>
        <br>
        <strong>Username:</strong><span class='username'></span><br>
        <strong><span class='score-label'></span></strong> <span class='score-value'></span><br>
        <strong>Idea Rated By: </strong><span class='num-rated-by'></span> Participants<br>
      </div>
    </div>

    <br>

    <div class='comment-region'>
      <div class='comment-text'></div>

      {% if client_settings.ALLOW_EDIT_COMMENT == "true" %}
      <button type='submit' data-theme='a' class='edit-comment-btn'>Change Your Response</button>
      {% endif %}

      <button type='submit' data-theme='a' class='edit-comment-done-btn'>Done</button>
      <br/>
    </div>

    <div class='edit-comment' style='display:none'>
      <textarea class='edit-comment-box'></textarea>
      {% for statement in statements %}
      {% ifnotequal statement.statement '' %}
      <p class='slider-question'> {{ statement.statement }} </p>

      <div id="grades" class="slider-agree-labels">
        <div style="text-align: left;width: 10%;">A<span></span></div>
        <div style="text-align: center;width: 26.2%;">B<span></span></div>
        <div style="text-align: center;width: 26.2%;">C<span></span></div>
        <div style="text-align: center;width: 26.2%;">D<span></span></div>
        <div style="text-align: right;width: 10%;">F<span></span></div>
            <!--<div class="alignleft">&larr; <i>F</i></div>
            <div class="alignright"><i>A+</i> &rarr;</div>-->
          </div>
          <div style="clear: both;"></div>
          
            <div id="c{{statement.id}}" class="change-rating-slider"></div>

          <!-- <input type='range' id='c{{statement.id}}' name='s{{statement.id}}' value='50' min='0' max='100' animate='true' data-highlight="true" onchange=""/><hr> -->

          {% else %}
          <div style='display:none;'>
            <div id="c{{statement.id}}" class="change-rating-slider"></div>

            <!-- <input type='range' id=cs{{statement.id}}' name='s{{statement.id}}' value='50' min='0' max='100' animate='true'/><hr> -->
          </div>
          {% endifnotequal %}
          {% endfor %}
          <button data-theme='a' class='edit-comment-save-btn'>Save</button>
          <button data-theme='a' class='edit-comment-cancel-btn'>Cancel</button>
          <br/>
        </div>

      </div>
    </center>

  </div>

  <div class='stats'>
    <div class='row' style='text-align:center;'>
      <div class='span6'>
        <img src='./../media/mobile/img/bloom.png' width='10%' alt='bloom'>
      </div>
      <div class='span6'>
        <br>
        <strong>Username:</strong><span class='username'></span><br>
        <strong><span class='score-label'></span></strong> <span class='score-value'></span><br>
        <strong>Idea Rated By: </strong><span class='num-rated-by'></span> Participants<br>
      </div>
    </div>
    <hr>

    <div class='graphs-wrap' style='text-align:center;'>

      <div class='graphs-insufficient' style='display:none;'>You can see a graph of the ratings you've received after you have been rated by 5 people.<br>
        Now please rate more blooms to earn more points.  Just click Done and choose any bloom..."</div>

        <div class='graphs'>
          <strong>Ratings Received</strong>
          <div class='row' style='text-align:center;'>
            <div id='graph-1' class='span6'></div>
            <div id='graph-2' class='span6'></div>
          </div>
        </div>
      </div>    
      <br>
      <div id="timeline"></div>
      <br>
      {% if client_settings.LEADERBOARD_ENABLED == "true" %}
      <button data-theme='a' onClick="$('.leaderboard').slideDown();">Leaderboard</button>
      {% endif %}
      <button data-theme='a' class="stats-done-btn">Done</button>
    </div>

    <div class='leaderboard'>
      <br><br>
      <center><h1>Leaderboard</h1></center>

      <table class='pretty'>
        <tr>
          <th>Username</th><th>Points</th>
        </tr>
        {% for leader in leaderboard%}
        <tr>
          <td>{{ leader.username }}</td><td> {{ leader.total_score|add:'0' }}</td>
        </tr>
        {% endfor %}
      </table>

      <br><br>
      <button data-theme='a' onClick="$('.leaderboard').slideUp();">Done</button>

    </div>

    <div id='d3'>
      <!--    <div class='loading'><img src='img/ajax-loader-gray.gif'>&nbsp; Loading opinions...</div>-->
    </div>

    <!-- it is important for the frame to be after the d3 div -->
    <div class='frame'></div>
    <div class = 'register' id='register'>
      <!--<div class = 'reg-header'>{{ client_settings.INSTRUCTIONS_5 }}</div>-->

      <br/>

      <center>
        <div class= 'registerpanel'>

          <center>
            <div class="basic-header">Save Your Grades and Join the Discussion</div>
          </center>

          <form id='reg_form' class='form-horizontal' method='post' action='{{ url_root }}/accountsjson/register/'>
            <input type='hidden' value='{{ topic }}' name='question'>
            <input type='hidden' value='{{ url_root }}' name='url'>

            <div data-role="fieldcontain">
             <label for="regusername">Email:</label>
             <input type="text" id='regusername' name='regusername' value="" placeholder="Email" data-theme="b"/>
             <div class='alert-error' id='username-error' style='display:none;'></div>
           </div>


           <div data-role="fieldcontain">
            <label for="regpassword1">Password:</label>
            <input type ='password' id='regpassword1' name='regpassword1' placeholder="Password">
            <div class='alert-error' id='password-error' style='display:none;'></div>
          </div>

          <div data-role="fieldcontain">
            <label for="zip">CA Zip Code:</label>
            <input type ='text' id='zip' name='zip' placeholder="Zip Code">
          </div>

<!--        <label>Age Group:  </label>   
            <select>
            <option>18-25</option>
            <option>26-35</option>
            <option>36-45</option>
            <option>46-55</option>
            <option>56-65</option>
            <option>66+</option>
            </select>
            
            <label>Gender:  </label>    
            <select>
            <option>Male</option>
            <option>Female</option>
            </select>
    -->
    <center>

      <div style="width: 100%; max-width: 300px;">
        <input type='submit' value='Save and Join' id='finishRegistration' data-theme="e" data-icon="check">
      </div>

<!--       <img src="{{url_root}}/media/mobile/img/cafe/discuss.png" style="width: 200px;"/><br/>
      After you submit your grades, you will join a discussion about the California government. -->

    </center>

  </form>
  <br/>
</div>
</center>
</div>

<div class='comment-input'>
  <!--<div class = 'reg-header'>{{ client_settings.INSTRUCTIONS_6 }}</div>-->

  <br/>

  <center>
    <div class='comment-panel'>

      <center>
        <div id = 'reg-question'><div class="basic-header">{{ topic }}</div>
        <br/>
        <textarea rows='20' cols = '30' name = 'answer' id='entered-comment'> </textarea> 
      </div>

      <div style="width: 300px;padding-bottom:15px;">
        <button type='submit' data-theme='a' class='comment-submit-btn' data-icon='check'>Save</button>
      </div>
    </center>
    
  </div>

</center>


</div>

<div class='login' id='login'>

  <!--<div class='login-header'>Please Login</div>-->
  <br/>

  <center>
    <div class="loginpanel">
            <div style="width: 100%; max-width: 150px; padding-top:5px;">
            <button data-theme='c' class='login-form-go-back' data-icon="arrow-l" data-mini="true">Back</button>
            </div>
      <div class="basic-header">Welcome Back</div>
      
      <div class='alert-error' id='login-error' style='display:none;'>
        Please check your username and password and try again.
      </div>

      <form id='login_form'>
        <br>
        <p class='label'>Email</p>
        <input type='text' name='username' placeholder="Email">
        <p class ='label'>Password</p>
        <input type='password' name='password' placeholder="Password">
        <!-- <button type='submit' data-theme='a' id='login-button'>Login</button>  -->
        <center>
          <div style="width: 100%; max-width: 300px;">
            <button type='submit' data-theme='a' data-icon="forward">Login</button>              
          </div>
        </center>

      </form>

    </div>
  </center>

</div>

</div>

<div class='logout'>
  <br/><br/>
  <center>
    
    <div class='landing-intro'>
      <div class='landing-header'>
        Thank you for participating!
      </div>

      {% if client_settings.HEADER_IMAGE == "true" %}
      <img class="header-img-topic" src={{ client_settings.HEADER_IMAGE_SOURCE }} class="center" style="width:150px;"><br>
      {% endif %}

      <div class='landing-desc'>
        <p> Return at any time to check your progress!<br> You can see how other participants are rating your idea. </p><br>

        <img src='./../media/mobile/img/bar_graph.png' class='center' style="width:200px;">
      </div>
      <br> 
      <button data-theme='a' class='logout-start-over' data-inline="true">Start Over</button>
      <button data-theme='b' class='logout-login-again' data-inline="true">Login again?</button>
    </div>
  </center>
</div>

<div class='landing'>
  <br/><br/>
  <center>
    <div class='landing-intro'>
      <div class='landing-header'>
        A Citizen's Report Card for Californa
      </div>


      <div class='landing-desc'>
        Grade and discuss the California government
      </div>

      <img class="header-img-topic" src="{{ url_root }}/media/mobile/img/cafe/map_teaser.png" class="center" style="width:150px;"><br>

      <div style="width: 100%; max-width: 300px;">
        <button type='submit' data-theme='e' class='first-time-btn' data-icon="star">First time</button>
        <button type='cancel' data-theme='a' class='login-btn' data-icon="forward">Returning</button>
      </div>

      <!--<img id='splash' src='./../media/mobile/img/os_splash.png' class='center'>-->
<!--<div class='landing-desc' style="font-size: 22px;color: #CCE6FF;">
  <font style="font-size:30px;color: #FFFFFF;">Current Leaders</font><br/>
      {% for leader in leaderboard%}

 * {{ leader.username }} {{ leader.total_score|add:'0' }} points<br/>
      {% endfor %}
    </div>-->

  </div>
</center>
</div>

<div class='dialog' style="display: none;">
  <br/><br/>
  <center>
    <div class='dialog-text1'>
      <button type='submit' data-theme='b' data-icon="star">The Discussion</button>
      <img class="header-img-topic" src="{{ url_root }}/media/mobile/img/cafe/map_teaser.png" class="center" style="width:250px;"><br>
      Each cup on the coffee table represents a participant.
      The position of the cup is determined by the participant's grades.
      <div style="width: 150px;">
        <button type='submit' data-theme='e' class='dialog-next' data-icon="arrow-r" onclick="$('.dialog-text1').hide();$('.dialog-text2').show();">Next</button>
      </div>
    </div>

    <div class='dialog-text2' style="display:none;">
      <button type='submit' data-theme='b' data-icon="star">The Discussion</button>
      <img class="header-img-topic" src="{{ url_root }}/media/mobile/img/cafe/cafe_click_idea.jpg" class="center" style="width:250px;"><br>
      Clicking on a cup reveals the participant's response to the current discussion topic: <strong>"{{ topic }}"</strong>
      <div style="width: 150px;">
        <button type='submit' data-theme='e' class='dialog-next' data-icon="arrow-r" onclick="$('.dialog-text2').hide();$('.dialog-text3').show();">Next</button>
      </div>
    </div>
        
    <div class='dialog-text3' style="display:none;">
      <button type='submit' data-theme='b' data-icon="star">The Discussion</button>
      <img class="header-img-topic" src="{{ url_root }}/media/mobile/img/cafe/rating_teaser.png" class="center" style="width:250px;"><br>
      You can evaluate a participant's response on two sliders.
      After rating two responses, you can leave a response of your own.
      As you rate more responses and other participants rate you, you will earn points.
      <div style="width: 150px;">
        <button type='submit' data-theme='e' class='dialog-ready' data-icon="check">Ready!</button>
      </div>
    </div>

  </center>
</div>

</div>
</body>
</html>
