<!DOCTYPE html>
<html lang='en'>

<head>

<title>{{client_settings.WELCOME_PAGE_TITLE}}</title>

<!-- for best viewing on mobile phones -->
<meta name='viewport' content='user-scalable=no, width=device-width,initial-scale=1, maximum-scale=1' />

<!-- CSS stylesheets -->
<link rel='stylesheet' type='text/css' href='{{url_root}}/media/mobile/css/reset.css?nonce={{random_password}}' />
<link rel='stylesheet' type='text/css' href='{{url_root}}/media/mobile/bootstrap/css/bootstrap-responsive.min.css?nonce={{random_password}}' />
<link rel='stylesheet' type='text/css' href='{{url_root}}/media/mobile/jquery-mobile/jquery.mobile-1.3.2.min.css' />
<link rel='stylesheet' type='text/css' href='{{url_root}}/media/mobile/css/themes/cafe-jquery-new.min.css'/>
<link href="{{url_root}}/media/mobile/css/jquery.nouislider.min.css" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='{{url_root}}/media/mobile/css/opinionspace.css?nonce={{random_password}}' />

<!-- JavaScript -->
<script type='text/javascript' src='{{url_root}}/media/mobile/jquery-mobile/jquery-1.10.2.min.js'></script>
<script src="{{url_root}}/media/mobile/js/jquery.nouislider.min.js"></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/csrf-ajax.js'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/d3.v2.min.js'></script>
<script src="{{url_root}}/media/mobile/js/d3-timeline.js"></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/blooms.js?nonce={{random_password}}'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/rate.js?nonce={{random_password}}'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/accounts.js?nonce={{random_password}}'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/utils.js'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/jquery-mobile/jquery.mobile-1.3.2.min.js'></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/stats.js?nonce={{random_password}}'></script>

<!--JavaScript that needs to be run on init-->
<script type='text/javascript'>
  window.url_root = '{{ url_root }}';

  window.sliders = [];

  window.email_saved = false;

  window.registration_in_progress = false;

  window.landing = true;

  window.num_sliders = {{ statements|length }};

  window.user_score = {{init_score}};

  window.conf = { 'SCORE_SCALE_FACTOR'  : {{ client_settings.SCORE_SCALE_FACTOR }},
                  'YOUR_SCORE_LANGUAGE' : "Your Score",
                  'INSTRUCTIONS_3'      : "{{ client_settings.INSTRUCTIONS_3 }}",
                  'FUN_COLORS'          : {{ client_settings.FUN_COLORS }},
                  'RETURN_USER_FIRST_TIME': {{return_user_first_time}},
                  'ZIPCODE': {{ zipcode }},
                };


  // TURNING OFF ALL AJAX
  $.ajaxSetup({async: false});

 jQuery(document).ready(function(){
   for (var i = 0; i <= window.num_sliders; i++) {
     window.sliders[i] = 40+(i%2)*20;
     $(".endslider-slider"+(i+1)).noUiSlider({
       range: [0, 100],
       start: window.sliders[i] ,
       step: 5,
       handles: 1,
       connect: false,
       behaviour: "none",
       slide: function() {
       var id = $(this).data('statement');
       $('#g' + id).html( score_to_grade( $(this).val() ) );
       }
     }).change(function () {
      var id = $(this).attr('id');
      id = parseInt(id.substring(1, id.length)); // strips the leading 's'
      update_score(id);
     });
   }

  $(".rating-slider").noUiSlider({
    range: [0, 100], start: 50, step: 10, handles: 1,connect: false, behaviour: "none"
  });
  
  var html_label ="<div class='slider-range-labels'><div class='alignleft'>{{client_settings.SLIDER1_LEFT}}</div><div class='alignright'>{{client_settings.SLIDER1_RIGHT}}</div></div>";
  $('.rating-slider1 > .noUi-base').append( html_label );
  
  var html_label ="<div class='slider-range-labels'><div class='alignleft'>{{client_settings.SLIDER2_LEFT}}</div><div class='alignright'>{{client_settings.SLIDER2_RIGHT}}</div></div>";
  $('.rating-slider2 > .noUi-base').append( html_label );
  
  $(".change-rating-slider").noUiSlider({
    range: [0, 100], start: 50, step: 5, handles: 1,connect: false, behaviour: "none"
  });

  // give the statement sliders some color
  var _grades = {'A' : 5, 'B' : 25, 'C': 50, 'D': 75, 'F' : 96 };
  $.map( _grades, function(position, letter) {
    var span = '<span class="grade-labels" style="left:'+position+'%;">'+letter+'</span>';
    $('.statement-slider > .noUi-base').append( span );
  });


  var _grades = {'1' : 30, '2' : 40, '3': 50, '4': 60, '5': 70};
  $.map( _grades, function(position, letter) {
    var span = '<span class="rate-dot-labels" style="left:'+position+'%;">.</span>';
    $('.rating-slider > .noUi-base').append( span );
  });

 });

 stats.setConf("{{ client_settings.AGREEMENT_HISTOGRAM_TEXT }}",
               "{{ client_settings.LEGEND_AGREEMENT_LEFT }}",
               "{{ client_settings.LEGEND_AGREEMENT_RIGHT }}",
               "{{ client_settings.INSIGHT_HISTOGRAM_TEXT }}",
               "{{ client_settings.LEGEND_INSIGHT_LEFT }}",
               "{{ client_settings.LEGEND_INSIGHT_RIGHT }}"
              );

 var finishedStatements=[];

 for(var l = 0; l < window.num_sliders; l++) {
    finishedStatements.push(0);
 }

 var medians = {{ medians|safe }};

 function score_to_grade(score1) {
    var score = 100 - score1;
  
    if (score == 100)
        return 'A+';
    else if (score > 92)
        return 'A';
    else if (score > 86)
        return 'A-';
    else if (score > 81)
        return 'B+';
    else if (score > 69 )
        return 'B';
    else if (score > 63 )
        return 'B-';
    else if (score > 56 )
        return 'C+';
    else if (score > 44 )
        return 'C';
    else if (score > 38 )
        return 'C-';
    else if (score > 32 )
        return 'D+';
    else if (score > 19 )
        return 'D';
    else if (score == 0 )
        return 'F';
    else
        return 'D-';
 }

 function statementsComplete() {
  for(var i = 0; i < window.num_sliders; i++) {
    if (finishedStatements[i]==0) {
      return false;
    }
  }
  return true;
 }

    /** Updates statement number STATEMENT (which is of type number). */
 function update_score(statement) {
   $('#g' + statement).css('opacity', 1);
   $('#o' + statement).html(score_to_grade(medians[statement]*100))
   window.sliders[statement] = $('#s' + statement).val();
   document.getElementById('tr'+statement).style.backgroundColor = "rgba(255, 255, 255, 0.25)";
   finishedStatements[statement-1]= 1;
}

</script>

    <meta name="google-translate-customization" content="eafde824bc8e224d-e21501ea7ec3fcff-g772450b68a5f36d7-1d"></meta>

</head>

<body>

  <div class="top-bar">
    <center>
        <div class='header'>
            {{ short_topic }}
        </div>

        <div data-role='navbar' class='menubar'>
            <ul>
                <li style="width: 20%;"><a data-theme='b' id='home-btn' class='home-btn' onclick="$('.welcome-back').show();$('.menubar').hide();$('.scorebox').hide();"><img width="22px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></a></li>
                <li style="width: 40%;"><a data-theme='b' class='my-comment-btn'><span class='stats-label'>{{client_settings.STATS_BUTTON_TEXT}}</span></a></li>
                <li style="width: 40%;"><a data-theme='b' class='logout-btn'><span class='logout-label'>{{client_settings.LOGOUT_BUTTON_TEXT}}</span></a></li>
            </ul>
        </div>

        <div class="scorebox">
            <span class='score-label'></span><span class='score-value'></span>
        </div>


        <div class='instructions'>{{client_settings.INSTRUCTIONS_1}}</div>
        <div class='instructions2'>{{client_settings.INSTRUCTIONS_2}}</div>
	    <div class='instructions3'>{{client_settings.INSTRUCTIONS_3}}</div>

    </center>
  </div>


  <div class="margin"></div>

  <div class='rate'>

    <center>
       <span class="rate-username"></span>
       <textarea id='commentInput' class='answer' readonly="true"></textarea>
    </center>

    <div class="answerwrapper default-left-padding">
        <div class="comment-admin-text">
            <a href="#" class="comment-admin-text-a" onclick="rate.doneRatingNoSave();">Skip</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="comment-admin-text-a" id="flag">Inappropriate or Irrelevant?</a>
        </div>

     <div class='sliders'>
        How important is this subject for your community?<br/>

        <div class="slider-padding"></div>

        <div id="slider1" class="rating-slider rating-slider1"></div><br/><hr/>

        How interested are you in this subject?<br/>

        <div class="slider-padding"></div>

        <div id="slider2" class="rating-slider rating-slider2"></div><br/>

        <center>
          <div class="standard-btn-div">
            <button type='submit' data-theme='b' id='go-back' onClick='rate.doneRating()'><font style="font-size: 16px;">Next</font></button>
          </div>
        </center>

        <!--begin gtranslate-->
        <!--
        <div id="google_translate_element"></div>
        <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true, gaTrack: true, gaId: 'UA-34341740-14'}, 'google_translate_element');
        }
        </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>-->
        <!--end gtranslate-->

      </div>

    </div>

  </div>

  <div id='rating' class='endsliders'>
    <div class='reportcard default-left-padding responsive-max-width'>

      <div class="home-btn-dialog-box">
         <button data-theme='b' class='home-btn-dialog'><img width="30px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></button>
      </div>

      <div class="basic-header">{{client_settings.REPORT_CARD_HEADER}}</div>

      <center>

        <div class="rc-sub-header">
          {{client_settings.REPORT_CARD_INST}}
        </div>


         <table class='cardtable title-table'>
             <tr>

                <td class="title-table-label1">
                  Subject
                </td>

                <td class="title-table-label2">
                  My<br/>Grade
                </td>

                <td class="title-table-label2">
                  <a href="#" onclick="$('.endsliders').hide();$('.dialog-avggrade').show();" style="color: #fff8f0 !important;">Median Grade</a>
                </td>

             </tr>
         </table>


          {% for statement in statements %}
             <table class='cardtable grade-table'>
                <tr id="tr{{statement.id}}">
                    <td style="height: 60px;background-color:#cbe2e2;">
                        {% ifnotequal statement.statement '' %}
                            <div class='slider-question'>
                                <script>var sid={{statement.id}}-1;var total={{statements|length}};document.write(total-sid);</script>. {{ statement.statement }}
                            </div>
                        {% else %}
                        {% endifnotequal %}
                    </td>

                    <td class="title-table-label2" style="background-color:#cbe2e2;">
                        <div id='g{{statement.id}}' class="grade"></div>
                    </td>

                    <td class="title-table-label2" style="background-color:#cbe2e2;">
                        <div id='o{{statement.id}}' class="grade2"></div>
                    </td>

                </tr>

                <tr>
                    <td colspan="3" class="slider-row" style="border: none;">
                        {% ifnotequal statement.statement '' %}
                            <div id="s{{statement.id}}" data-statement="{{statement.id}}" class="endslider-slider{{statement.id}} statement-slider" style=""></div>
                        {% else %}
                            <div style='display:none;'>
                                <br><div id="s{{statement.id}}" data-statement="{{statement.id}}"  class="endslider-slider"></div>
                            </div>
                        {% endifnotequal %}
                    </td>
                </tr>
             </table>
            <br/>
          {% endfor %}

          <div class="standard-btn-div">
             <button type='submit' data-theme='b' class='done-endsliders-btn' ><font style="font-size: 16px;">{{client_settings.REPORT_CARD_NEXT_BUTTON}}</font></button>
          </div>
        </center>
       </div>
    </div>

  <div class='my-comment'>
    <div class='edit-comment-panel'>
        <div class='row'>
            <div class="basic-header">My Statistics</div>
            <span class='username' style="display: none;"></span>
            <span class='score-label'></span> <span class='score-value'></span><br>
            <span class='num-label'>Idea Rated By:</span> <span class='num-rated-by'></span> Participants<br>

            <hr/>

            <div class="basic-sub-header">Aggregate Statistics</div>

            <center>

                <div class="aggstat1">

                    <table style="width: 90%;">
                        <tr class="stats-table-title">
                            <td>Subject</td>
                            <td>Avg. Grade</td>
                        </tr>

                        {% for statement in statements %}
                            <tr>
                                <td>{{ statement.statement }}</td>
                                <td><script>document.write(score_to_grade(medians[{{statement.id}}]*100));</script></td>
                            </tr>
                        {%endfor%}
                    </table>

                    <div class="standard-btn-div">
                        <button data-theme='b'  onclick="$('.aggstat1').hide();$('#neighborhoodStat').show();">Next</button>
                    </div>

                </div>

                <!--<div class="aggstat2" style="display:none;">
                    Changes in the mug positions<br/>
                    <canvas id="MugAnimation" width="250" height="200" style="background-image:url('{{ url_root }}/media/mobile/img/cafe/cafe_bg.png');background-repeat:repeat; background-size: 100% 100%;	"></canvas>
                    <script type="text/javascript" src="{{ url_root }}/media/mobile/js/timelineMug_animation_json.js"></script>

                    <div class="standard-btn-div">
	                    <button type="button" onclick="clickreset()" data-mini="true" data-inline="true">Play</button>
                        <button type="button" onclick="reset()" data-mini="true" data-inline="true"> Reset</button>
                        <button data-theme='b' onclick="$('.aggstat2').hide();$('#neighborhoodStat').show();">Next</button>
                    </div>
                </div>-->

                <div id="neighborhoodStat" style="display:none;">
		        <div id="neighborhoodTable"></div>

                  <div class="standard-btn-div">
                        <button data-theme='b'  onclick="$('#neighborhoodStat').hide();$('.aggstat1').show();">Next</button>
                    </div>
                </div>
    <!--<div class="aggstat3" style="display:none;">California map <br/>
    <div style="width:300px;">
    <button data-theme='b'   onclick="$('.aggstat3').hide();$('.aggstat1').show();">Next</button>
    </div>
    </div>-->
            <div class="standard-btn-div">
                <button type='submit' data-theme='b' class='edit-comment-done-btn'>Back</button>
            </div>
        </center>
      </div>
    </div>
  </div>

  <div id='d3' class="d3-canvas"></div>
  <div class='frame'></div>

  <div class = 'register' id='register'>

      <div class="home-btn-dialog-box">
          <button data-theme='b' class='home-btn-dialog'><img width="30px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></button>
      </div>

       <div class= 'registerpanel default-left-padding responsive-max-width'>
        <div class="basic-header2" style="width: 100%">{{client_settings.ZIP_CODE_INSTRUCTIONS}}</div>

         <form id='reg_form' class='form-horizontal' method='post' action='{{ url_root }}/accountsjson/register/'>
             <div data-role="fieldcontain">
                 <input type ='tel' id='regzip' name='regzip' class='regforminput' value="" placeholder="Zip Code" onblur="$('#reg_form').submit();">
                 <div class='alert-error' id='zipcode-error' style='display:none;'></div>
             </div>

             <!--These are hidden dummy attributes for book-keeping-->

            <input type='hidden' value='{{ topic }}' name='question'>
            <input type='hidden' value='{{ url_root }}' name='url'>
            <div data-role="fieldcontain" style="display: none;">
             <label for="regusername" class='regforminput'>Email:</label>
             <input type="hidden" id='regusername' name='regusername' class='regforminput' value='{{ random_username }}' placeholder="Email" data-theme='b'/>
             <div class='alert-error' id='username-error' style='display:none;'></div>
            </div>
           <div data-role="fieldcontain" style='display:none;'>
            <label for="regpassword1" class='regforminput' style="display: none;">Password:</label>
            <input type ='hidden' id='regpassword1' name='regpassword1' class='regforminput' value='{{ random_password }}' placeholder="Password">
            <div class='alert-error' id='password-error'></div>
          </div>

        <center>
            <div class="standard-btn-div" onclick="document.getElementById('registerb').focus();">
                <button type='submit' data-theme='b' id="registerb"><font style="font-size: 16px;">{{client_settings.ZIP_CODE_BUTTON}}</font></button>
            </div>
        </center>
       </form>
      </div>
  </div>

  <div class='logout'>
        <div class='landing-intro'>
            <div class='landing-header'>
              {{client_settings.LOGOUT_DIALOG_TEXT}}
            </div>
        </div>

        <div class='landing-desc'>
            <center>
                <div class="standard-btn-div">
                    <button data-theme='b' class='logout-start-over'><font style="font-size: 16px;">{{client_settings.START_OVER_BUTTON_TEXT}}</font></button>
                </div>
            </center>
        </div>
    </div>

  <div class='welcome-back'>
     <div class='landing-intro default-left-padding'>
        <div class='landing-header'>
            California<br/>Report Card
        </div>
     </div>

    <div class='landing-desc default-left-padding'>
        <center>
            <div class="standard-btn-div">
                <button type='submit' data-theme='b' id='regrade-btn' ><font style="font-size: 16px;">Change grades</font></button>
                <button type='cancel' data-theme='b' id='garden-btn' ><font style="font-size: 16px;">Discussion</font></button>
            </div>
        </center>
        <div class="comment-admin-text">
            <a class="comment-admin-text-a" href="#" onclick="$('.dialog-about').show();$('.welcome-back').hide();window.landing=false;" target="_blank">About</a>
        </div>
    </div>

  </div>

  <div class='landing'>

    <div class="responsive-max-width">

      <center>
          <img src="{{url_root}}/media/mobile/img/cafe/cafe-title-cropped.png" width="250px" style="padding-top: 5px;"/>
      </center>

      <div class='landing-desc'>

          <div style="clear: both;"></div>

          <div>
              <div class="landing-img-txt">

                  <center>
                      <div style="width: 120px;">
                          <button type='submit' data-theme='a' class='first-time-btn'><font style="font-size: 16px;">Begin</font></button>
                      </div>
                  </center>


                  {{client_settings.WELCOME_PAGE_TEXT1}}

                  <div style="font-size: 11px; line-height: 13px;padding-top:5px;">Source: UC Berkeley CITRIS Data and Democracy Initiative</div>

              </div>
              <div class="landing-img-div"><img src="{{url_root}}/media/mobile/img/cafe/spoon-and-pencil-draft.png" width="80px"/></div>

              <div style="clear: both;position:relative;top: -5px;color: #594027;line-height: 13px !important;font-size: 11px;padding-left: 10px;">
                  {{client_settings.WELCOME_PAGE_TEXT2}}<br/>
                <a href="#" class="comment-admin-text-a" style="font-size: 10px;" onclick="$('.dialog-about').show();$('.landing').hide();window.landing=true;">{{client_settings.WELCOME_PAGE_ABOUT_LINK}}</a>
              </div>

          </div>

      </div>
    </div>

  </div>

  <div class='dialog dialog-style'>

      <div class="home-btn-dialog-box">
          <button data-theme='b' class='home-btn-dialog'><img width="30px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></button>
      </div>

    <div class='dialog-text1 dialog-text-style default-left-padding'>
        <div class="basic-header" style="width:100%;">{{client_settings.DISCUSSION_DIALOG_HEADER}}</div>
        <img class="header-img-topic center" src="{{ url_root }}/media/mobile/img/cafe/map_teaser.png"/>

	{{ client_settings.DISCUSSION_DIALOG_TEXT1 }}
	<br><br>
        "{{ topic }}"
        <center>
        <div class="standard-btn-div">
            <button type='submit' data-theme='b' class='dialog-ready' ><font style="font-size: 16px;">Next</font></button>
            <!--<button type='submit' data-theme='b' class='dialog-next'  onclick="$('.dialog-text1').hide();$('.dialog-text2').show();"><font style="font-size: 16px;">Next</font></button>-->
        </div>
        </center>

    </div>

    <div class='dialog-text2 dialog-text-style default-left-padding' style="display: none">
        <div class="basic-header" style="width:100%;">The Discussion</div>
        <img class="header-img-topic center" src="{{ url_root }}/media/mobile/img/cafe/map_teaser.png"><br>
      Each mug represents a participant's response to the discussion topic.
        <center>
      <div class="standard-btn-div">
        <button type='submit' data-theme='b' class='dialog-ready' ><font style="font-size: 16px;">Next</font></button>
      </div>
        </center>
    </div>

  </div>

  <div class='dialog-score dialog-style'>

      <div class="home-btn-dialog-box">
          <button data-theme='b' class='home-btn-dialog'><img width="30px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></button>
      </div>

    <div class='dialog-text-notitle default-left-padding'>
        <div class="scorebox-fake">
          {{client_settings.YOUR_SCORE_LANGUAGE}} is 100
        </div>

        <br/>
        {{client_settings.SCORE_DIALOG_TEXT}}

      <center>
        <div class="standard-btn-div">
            <button type='submit' data-theme='b' class='dialog-score-ready' ><font style="font-size: 16px;">Next</font></button>
        </div>
      </center>
    </div>
  </div>

  <div class='dialog-yourmug dialog-style'>

      <div class="home-btn-dialog-box">
          <button data-theme='b' class='home-btn-dialog'><img width="30px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></button>
      </div>

    <div class='dialog-text-style default-left-padding'>
        <div class="basic-header" style="width:100%;">Your Mug</div>
        <img class="header-img-topic center" src="{{ url_root }}/media/mobile/img/cafe/map_teaser.png"><br>

        To enter your own idea, click on your mug (highlighted in yellow).

      <center>
        <div class="standard-btn-div">
            <button type='submit' data-theme='b' class='dialog-yourmug-ready' ><font style="font-size: 16px;">Next</font></button>
        </div>
      </center>

    </div>
  </div>

  <div class='dialog-continue dialog-style'>

      <div class="home-btn-dialog-box">
          <button data-theme='b' class='home-btn-dialog'><img width="30px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></button>
      </div>

    <div class='dialog-text-style default-left-padding'>

        <div class="basic-header" style="width:100%;">{{client_settings.RESPONSE_SAVED_HEADER}}</div>
        {{ client_settings.RESPONSE_SAVED_TEXT}}
        <center>
            <div class="standard-btn-div">
                <button type='submit' data-theme='b' class='dialog-continue-ready' ><font style="font-size: 16px;">Next</font></button>
            </div>
      </center>

    </div>
  </div>

  <div class='dialog-email dialog-style'>

      <div class="home-btn-dialog-box">
          <button data-theme='b' class='home-btn-dialog'><img width="30px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></button>
      </div>

    <div class='dialog-text-notitle default-left-padding'>
      {{client_settings.EMAIL_ASK_TEXT}}
        <center>
            <input type="email" id='regemail' name='regemail' class='regforminput' style="font-size: 15px; background-color: #FFFFFF;color: #000000;" placeholder="Email" data-theme='b'></input>
            <div class="standard-btn-div">
                <a href="http://opinion.berkeley.edu/privacy.html" target="_blank" class="comment-admin-text-a">Privacy Policy</a>
                <button type='submit' data-theme='b' class='dialog-email-ready' ><font style="font-size: 16px;">Next</font></button>
            </div>
        </center>
    </div>
  </div>

  <div class='dialog-avggrade dialog-style'>

      <div class="home-btn-dialog-box">
          <button data-theme='b' class='home-btn-dialog'><img width="30px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></button>
      </div>

    <div class='dialog-text-style default-left-padding'>


      <div class="basic-header" style="width:100%;">{{client_settings.AVG_EXPLAIN_HEADER}}</div>
     <center>
      <img src="{{ url_root }}/media/mobile/img/cafe/avggrade.png" class="center" style="width:100px;padding-top:3px;"><br>
      <div class="standard-btn-div">
        {{client_settings.AVG_EXPLAIN_TEXT}}
        <button type='submit' data-theme='b'  onclick="$('.dialog-avggrade').hide();$('.endsliders').show();"><font style="font-size: 16px;">Back</font></button>
      </div>
     </center>
    </div>
  </div>

  <div class='dialog-about dialog-style' style="z-index:999">
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">{{client_settings.ABOUT_PAGE_HEADER}}</div>
	  <center>{{num_users}} participants so far.</center><br/>
	  {% autoescape off %}{{client_settings.ABOUT_PAGE_TEXT }}{% endautoescape %}

      <center>
        <div class="standard-btn-div">
          <button data-theme='b'  onclick="$('.dialog-about').hide();if(window.landing){$('.landing').show();}else{$('.welcome-back').show()}"><font style="font-size: 16px;">Back</font></button>
        </div>
      </center>
      </div>
  </div>

  <div class='comment-input'>
      <div class="home-btn-dialog-box">
          <button data-theme='b' class='home-btn-dialog'><img width="30px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></button>
      </div>
      <center>
          <div class='comment-panel'>
              <div class="basic-sub-sub-header" style="text-align:left;">{{topic}}<br/></div>
              <textarea name='answer' id='entered-comment'> </textarea>
              <div class="standard-btn-div">
                  <button type='submit' data-theme='b' class='comment-submit-btn'><font style="font-size: 16px;">Save</font></button>
                  <button type='submit' data-theme='b' class='comment-cancel-btn'><font style="font-size: 16px;">Cancel</font></button>
              </div>
          </div>
      </center>
  </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34341740-14', 'citizenreportcard.org');
  ga('send', 'pageview');

</script>

</body>
</html>
