{% extends "admin_base.html" %}

{% block scripts %}
<script type="text/javascript">
	required_data = ["all"]
	$(document).ready(function()
	{
		$("#disc_block").html(output_disc_header())
	});
	// Get  Admin Dashboard Overview Data
	retrieve_admin_content(function(data)
	{	
		if(data.success)
		{
			populateDashboard(data.data);
			populate_disc_header(data.data.discussion_statements, function(data)
			{
				populateDashboard(data.data);
			})
		}
	}, discussion_id)
	
	/*
	dojo.xhrGet({
			url: "{{url_root}}/admincontent/1/",
			handleAs: "json",
			load:function(response, ioArgs)
			{
				if (response.success)
				{
					populateDashboard(response.data);
					//console.log(response.data[5]);
				}	
			},
			error:function(data)
			{ // This happens on a 500 error or alikes.
				alert('Error: failed sending data');
			}
		});
	*/
	function populateDashboard(arr) 
	{
		var topAuthors = (arr.unapproved != null)?arr.unapproved.length:"0";
		var flaggedComments = (arr.flagged_comments != null)?arr.flagged_comments.length:"0";
		var highVariance = (arr.high_variance_comments != null)?arr.high_variance_comments.length:"0";
		var prevBlacklisted = (arr.new_comments_prev_bl != null)?arr.new_comments_prev_bl.length:"0";
		var feedbackData = arr.feedback;
		var stats = arr.statistics;
		var blacklisted = (arr.blacklisted_comments != null)?arr.blacklisted_comments.length:"0";
		var bannedusers = (arr.banned_users != null)?arr.banned_users.length:"0";
		var statement_stats = arr.statements;
		
		// Displaying various comments data
		/*dojo.byId('topAuthors').innerHTML = "New additions to top authors: " + topAuthors;
		dojo.byId('flaggedComments').innerHTML = "Flagged comments: " + flaggedComments;
		dojo.byId('highVariance').innerHTML = "High variance comments: " + highVariance;
		dojo.byId('prevBlacklisted').innerHTML = "New comments from the user with a previously blacklisted response: " + prevBlacklisted;
		dojo.byId('blacklisted').innerHTML = "Blacklisted comments: " + blacklisted;
		dojo.byId('bannedusers').innerHTML = "Banned users: " + bannedusers;*/
		
		/*dojo.byId('statementStatistics').innerHTML = "";
        // Display statement statistics
		for (var key in statement_stats)
		{
		    dojo.byId('statementStatistics').innerHTML += "<tr><td><strong>Statement" + key + "</strong>: " + 
		    "mean = " + statement_stats[key]['mean'] + 
		    ", stdev = " + statement_stats[key]['std'] + "</td></tr>";
		}*/
		
		dojo.byId('feedback').innerHTML = "<thead><tr><th>Feedback</th></tr></thead>"
		//Displaying feedback
		var feedbackBody = document.createElement('tbody');
		if(feedbackData.length != "")
		{
			for (var i=0; i<feedbackData.length; i++) 
			{
				var feedbackRow = document.createElement('tr');
				var feedbackCol = document.createElement('td');
				$(feedbackCol).text(feedbackData[i].response);	

				feedbackRow.appendChild(feedbackCol);
				feedbackBody.appendChild(feedbackRow);
				
				//Separating each feedback comment with sigle line
				var feedbackDiv = document.createElement('div');
				feedbackDiv.setAttribute("class", "liner");
								
				var linerRow = document.createElement('tr');
				var linerCol = document.createElement('td');
				$(linerCol).append(feedbackDiv);
				linerRow.appendChild(linerCol);
				feedbackBody.appendChild(linerRow);			
			}			
		}
		else
		{
			var feedbackRow = document.createElement('tr');
			var feedbackCol = document.createElement('td');
			feedbackCol.innerHTML = "No new entries found";
			feedbackRow.appendChild(feedbackCol);
			feedbackBody.appendChild(feedbackRow);		
		}
		dojo.byId('feedback').appendChild(feedbackBody);		
	}
	
</script>

{% endblock %}

{% block mainContent %}
    <h1> Overview </h1>
    <p>
    <span id='disc_block'></span>
        <table id="users" class="overviewTable" style="padding-top:4px;">
        	<thead>
            	<tr>
                <th>Account Stats</th>
                </tr>
            </thead>
            <tbody id="overviewbody">
                <tr><td id="totalActiveUsers">Total Users : {{total_users}}</td></tr>  
				<tr><td>New Users in Past 24 Hours : {{new_users}}</td></tr>
				<tr><td>Logins in the Past 24 Hours : {{new_logins_users}}</td></tr>
				<tr><td>First Time Clicks : {{total_visitors}}</td></tr>
					
            </tbody>
			<tbody id="overviewcontent">
			</tbody>
        </table>
        {% autoescape off %}{{report_table_html}}{% endautoescape %} 
<div id='locationTable'>
			<table id="users" class="overviewTable" style="padding-top:4px;">
        	<thead>
            	<tr>
                <th>Location</th>
                </tr>
            </thead>
            <tbody id="overviewbody">
                <tr><td id="totalActiveUsers">
				<script type="text/javascript+protovis">
var data = eval({{locations}});//pv.range(10).map(Math.random);
var titles = eval({{location_titles|safe}})
if (data.length == 0)
{
document.getElementById('locationTable').style.display = 'none';
}
/* Sizing and scales. */
var w = 300,
    h = 300,
    r = w / 2,
    a = pv.Scale.linear(0, pv.sum(data)).range(0, 2 * Math.PI);

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h);

/* The wedge, with centered label. */
vis.add(pv.Wedge)
    .data(data)
    .bottom(w / 2)
    .left(w / 2)
    .innerRadius(0)
    .outerRadius(r)
    .angle(a)
  .anchor("center").add(pv.Label)
    .textAngle(45)
    .text(function(d) titles[this.index]);

vis.render();

    </script>
	</td></tr>	
            </tbody>
			<tbody id="overviewcontent">
			</tbody>
        </table>
</div>
<div id="ageTable">
	<table id="users" class="overviewTable" style="padding-top:4px;">
        	<thead>
            	<tr>
                <th>Age</th>
                </tr>
            </thead>
            <tbody id="overviewbody">
                <tr><td id="totalActiveUsers">
				<script type="text/javascript+protovis">
var data = eval({{ages}});//pv.range(10).map(Math.random);
if (data.length == 0)
{
document.getElementById('ageTable').style.display = 'none';
}
var titles = eval({{age_titles|safe}})
/* Sizing and scales. */
var w = 300,
    h = 300,
    r = w / 2,
    a = pv.Scale.linear(0, pv.sum(data)).range(0, 2 * Math.PI);

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h);

/* The wedge, with centered label. */
vis.add(pv.Wedge)
    .data(data)
    .bottom(w / 2)
    .left(w / 2)
    .innerRadius(0)
    .outerRadius(r)
    .angle(a)
  .anchor("center").add(pv.Label)
    .textAngle(45)
    .text(function(d) titles[this.index]);

vis.render();

    </script>
	</td></tr>	
            </tbody>
			<tbody id="overviewcontent">
			</tbody>
        </table>
</div>
        <table id="todo" class="overviewTable">
        	<thead>
            	<tr>
                <th>Comment Stats</th>
                </tr>
            </thead>
            <tbody>
				<tr>
                	<td>Total comments : {{total_comments}}</td>
                </tr>
				
            	<tr>
                	<td>Total insight ratings: {{total_insight}} </a></td>
                </tr>
				
				<tr>
                	<td>Total agreement ratings: {{total_agreement}} </a></td>
                </tr>

            </tbody>
        </table>
        <table id="statements" class="overviewTable" style="padding-top:4px;">
        	<thead>
            	<tr>
                <th>Statement Stats</th>
                </tr>
            </thead>
            <tbody id="statementStatistics">
			<script type="text/javascript+protovis">
var titles = eval({{statement_titles|safe}});
var data = eval({{statements}});//pv.range(8).map(function(d) { return Math.random() + .1; });
/* Sizing and scales. */
var w = 400,
    h = 250,
    x = pv.Scale.linear(0, 1.1).range(0, w),
    y = pv.Scale.ordinal(pv.range({{statements_count}})).splitBanded(0, h, 4/5);

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(200)
    .right(10)
    .top(5);

/* The bars. */
var bar = vis.add(pv.Bar)
    .data(data)
    .top(function() y(this.index))
    .height(y.range().band)
    .left(0)
    .width(x);

/* The value label. */
bar.anchor("right").add(pv.Label)
    .textStyle("white")
    .text(function(d) d.toFixed(2));

/* The variable label. */
bar.anchor("left").add(pv.Label)
    .textMargin(5)
    .textAlign("right")
    .text(function() titles[this.index]);

/* X-axis ticks. */
vis.add(pv.Rule)
    .data(x.ticks(5))
    .left(x)
    .strokeStyle(function(d) d ? "rgba(255,255,255,.3)" : "#000")
  .add(pv.Rule)
    .bottom(0)
    .height(5)
    .strokeStyle("#000")
  .anchor("bottom").add(pv.Label)
    .text(x.tickFormat);

vis.render();

    </script>
            </tbody>
        </table>
        
         <table id="feedback" class="overviewTable" style="padding-top:4px;">
        	<thead>
            	<tr>
                <th>Feedback</th>
                </tr>
            </thead>
        </table>  


    </p>
{% endblock %}
