{% extends "instructor_base.html" %}

{% block mainContent %}
<div style="padding:15px">

    <h1>Participation Statistics</h1>
    <p>
    <span id='disc_block'></span>
    <table id="todo" class="overviewTable">
        	<thead>
            	<tr>
                <th>Weekly Count of Participation</th>
                </tr>
            </thead>
		</table>
 <a class="portfolio-link">
		  <!-- <div style="text-align:left"><img src="https://github.com/mozhou/Public/blob/master/img/part.png?raw=true" alt="image" align="middle"></div> -->
          <div style="text-align:left"><img src="{{url_root}}/media/images/participation.png" alt="image" align="middle" height="400"
            width="500"></div>
</a>


 






{% endblock %}
