<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Opinion Space 3.0</title>
</head>

<body style="background: url(http://www.state.gov/images/2010/bkg-flag05.jpg) no-repeat scroll center top;
            margin:0 auto;
            padding:0;
            width:100%;">
	
	<div id="wrapper" style="margin:0 auto;
                            padding:0;
                            width:960px;">
        <div style="background: url(http://www.state.gov/images/2010/printbanner950_2010.jpg) 0px 0px no-repeat; 
    							background-repeat : no-repeat;
                                height:150px;
                                margin:0;
                                padding:0;
                                position:relative;
                                top: 12px;
                                left: -22px;">
    	</div>
    </div>
    <div style="margin:auto; width: 1100px; padding-bottom:50px;">
		<iframe src="{{url_root}}" style="width: 1100px; 
		                                                height: 700px; 
		                                                border-color:#ffffff;"/>
	</div>
	
</body>
</html>