{% extends "admin_base.html" %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$("#osTable").hide();
		$("button").hide();
		$("#message").hide();
	});

	function getSearchResults() {
		var userid = dojo.byId("searchBar").value;
		$("#message").hide();
		$("#osTable").hide();
		$("button").hide();

		// Get  Feedback Comments Data
		dojo.xhrGet({
			url: "{{url_root}}/search/1/" + userid + "/",
			handleAs: "json",
			load: function(response, ioArgs) {
				$('#loading').fadeOut()
				if (response.success) {
					for (var i = 0; i < response.data.length; i += 1) {
						var searchResult = response.data[i];
						$("#osTable").show();
						$("button").show();
						populateTable(searchResult);
					}
					allowTagEditing();
					allowCommentEditing();
					allowSpanishCommentEditing();
				} else {
					//alert("Your search did not match any users");
					$("#message").show();
				}
			},
			error: function(error, ioArgs) { // This happens on a 500 error or alikes.
				alert('Error: failed sending data');

				switch (ioArgs.xhr.status) {
					case 404: //page not found error
						alert('404');
						break;
					case 500: // server side error
						alert('500');
						break;
					case 407: // proxy authentication
						alert('407');
						break;
					default: // default action
						alert('default')
				};

				alert("HTTP Error code:" + ioArgs.xhr.status);
				alert("Error Condition:" + error.responseText);
				alert("Error Message:  " + error.message);
			}
		});
	}

	function populateTable(searchResult) {
		dojo.byId('tableBodyWrapper').innerHTML = "";
		if (searchResult != "") {
			// display the comments
			var row = document.createElement('tr');
			var id = searchResult.uid + "-" + searchResult.cid;
			row.setAttribute("id", id);
			row.className = "dark";

			var inputTd = document.createElement('td');
			var checkBox = document.createElement('input');
			checkBox.setAttribute("type", "checkbox");
			inputTd.appendChild(checkBox);

			var user = document.createElement('td');
			user.innerHTML = searchResult.username; // + ' <a href="' + searchResult.reset_link + '">No</a>';

			var novel = document.createElement('td');
			novel.innerHTML = searchResult.is_novel;

			var time = document.createElement('td');
			time.innerHTML = searchResult.joined; 

			var email = document.createElement('td');
			email.innerHTML = searchResult.email;

			var zipcode = document.createElement('td');
			zipcode.innerHTML = searchResult.zipcode;

			var city_state = document.createElement('td');
			city_state.innerHTML = searchResult.city_state;


			var comment = document.createElement('td');
			comment.innerHTML = searchResult.comment;
			comment.className = "comment";

			// var spanish_comment = document.createElement('td');
			// spanish_comment.innerHTML = searchResult.spanish_comment;
			// spanish_comment.className = "spanish_comment";

			// var original_language = document.createElement('td');
			// original_language.innerHTML = searchResult.original_language;
			// original_language.className = "original_language";

			var tag = document.createElement('td');
			tag.className = "tag"
			tag.id = "tag-" + searchResult.cid.toString();
			tag.innerHTML = searchResult.tag;

			row.appendChild(inputTd);
			row.appendChild(user);
			row.appendChild(novel);
			row.appendChild(time);
			row.appendChild(email);
			// row.appendChild(zipcode);
			row.appendChild(city_state);
			row.appendChild(comment);
			// row.appendChild(spanish_comment);
			// row.appendChild(original_language);
			row.appendChild(tag);
			dojo.byId('tableBody').appendChild(row);
		}
		$("#osTable:has(tbody tr)").tablesorter({
			headers: {
				0: {
					sorter: false
				}
			},
			widgets: ['zebra']
		});
	}

	function banUser() {
		try {
			var table = dojo.byId('osTable');
			var rowCount = table.rows.length;
			var rowId = "";
			var row = table.rows[1];
			var chkbox = row.cells[0].childNodes[0];
			if (null != chkbox && true == chkbox.checked) {
				rowId = row.id.split("-")[0];
				dojo.xhrGet({
					url: "{{url_root}}/banish/" + rowId + "/",
					handleAs: "json",
					load: function(response, ioArgs) {
						if (response.success) {
							alert("Operation successful!");
						}
					},
					error: function(data) { // This happens on a 500 error or alikes.
						alert('Error: failed sending data');
					}
				});
			}
			deleteRow(table);
		} catch (e) {
			alert(e);
		}
	}

	function allowTagEditing() {
		$(".tag").click(function() {
			var new_tag = prompt("Tag this comment", $(this).html());
			$(this).html(new_tag);
			var cid = $(this).attr('id').replace('tag-', '');

			dojo.xhrPost({
				url: "{{url_root}}/admintagcomment/" + cid + "/",
				content: {
					tag: new_tag
				},
				handleAs: "json",
				load: function(response) {
					if (!response.success) {
						alert("Error");
					}
				},
				error: function(error, ioArgs) { // This happens on a 500 error or alikes.
					alert('Error: failed sending data');

					switch (ioArgs.xhr.status) {
						case 404: //page not found error
							alert('404');
							break;
						case 500: // server side error
							alert('500');
							break;
						case 407: // proxy authentication
							alert('407');
							break;
						default: // default action
							alert('default');
					};

					alert("HTTP Error code:" + ioArgs.xhr.status);
					alert("Error Condition:" + error.responseText);
					alert("Error Message:  " + error.message);
				}
			});
		});
	}

	function allowCommentEditing() {
		$(".comment").click(function() {
			var cid = $(this).parent().attr('id').split("-")[1];
			console.log(cid);
			var url = "{{url_root}}/adminpanel/proofread/" + "?cid=" + cid + '&' + 'language=english';
			var url = newwindow=window.open(url,'Edit Comment');
			if (window.focus) {newwindow.focus()}
		});
	}

	function allowSpanishCommentEditing() {
		$(".spanish_comment").click(function() {
			var cid = $(this).parent().attr('id').split("-")[1];
			var url = "{{url_root}}/adminpanel/proofread/" + "?cid=" + cid + '&' + 'language=spanish';;
			var url = newwindow=window.open(url,'Edit Spanish Comment');
			if (window.focus) {newwindow.focus()}
		});
	}


</script>
{% endblock %}

{% block mainContent %}
    <h1> Search </h1>
    <p>
      
   <input type="text" id="searchBar" class="inputTxt" />
   <input type="button" id="searchBtn" value="Search" onClick="$('#loading').fadeIn();getSearchResults()" class="inputBtn" />
   
   <!-- <span onClick="getSearchResults()"> Test Search </span> -->
   <br>
   Enter a username or a portion of a username to see matching results.<br>
   A blank search returns all users (may take a few seconds to load).
   
   <div id="loading" style="display:none">
     <h2> Loading...</h2>
   </div>
   
   <div class="buttons">
    <button type="submit" class="negative" onClick="processComment('{{url_root}}/blacklist/')">
        <img src="../../media/images/no.png" alt=""/> 
        Blacklist Response
    </button>
    
    <button type="submit" class="negative" onClick="banUser()">
        <img src="../../media/images/ban.png" alt=""/>
        Ban User
    </button>
</div>
	<p id="message">Your search did not match any users</p>
   <table id="osTable" class="tablesorter"> 
    <thead> 
    <tr> 
        <th width="5%"><input type="checkbox" id="checkAll"/></th>
        <th width="3%">User ID</th> 
        <th width="3%">Novel</th> 
        <th width="5%">Time</th>
		<th width="7.5%">Email</th>
		<!-- <th width="3%">Zipcode</th>  -->
        <th width="10%">City, State</th> 
        <th width="25%">Response (click to edit)</th>
        <!-- <th width="25%">Response in Spanish (click to edit)</th>
        <th width="5%">Original Language (click to edit)</th> -->
        <th width="10%">Tag (click to edit)</th>

    </tr> 
    </thead> 
	
    <div id="tableBodyWrapper">
    <tbody id="tableBody"> 
    </tbody> 
    </div>
</table>
    </p>
{% endblock %}
