<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Opinion Space 2.0</title>
    
    <!-- ADDED META TAGS FOR DESCRIPTION -->
    <meta name="description" content="An experiment in global dialogue by the US Dept of State and the BCNM">
</head>

<body style="background: url(http://hkn.eecs.berkeley.edu/~dwong/research/bkg-flag05.jpg) no-repeat scroll center top;
            margin:0 auto;
            padding:0;
            width:100%;">
	
	<div id="wrapper" style="margin:0 auto;
                            padding:0;
                            width:960px;">
        <div style="background: url(http://hkn.eecs.berkeley.edu/~dwong/research/banner_copy_1.png) 0px 0px no-repeat; 
    							background-repeat : no-repeat;
                                height:200px;
                                margin:0;
                                padding:0;">
    	</div>
    	<div>
    		<iframe src="{{ url_root }}/app/{{username}}" style="width: 955px; 
    		                                                height: 600px; 
    		                                                border-color:#ffffff;            
    		                                                left:1px;
    		                                                position:relative;"/>
    	</div>    
    </div>
	
</body>
</html>