{% extends "admin_base.html" %}
{% block mainContent %}
  <h1> Map Statistics </h1>
 <table id="users" class="overviewTable" style="padding-top:4px;">
        	<thead>
            	<tr>
                <th>All points (scores)</th>
                </tr>
            </thead>
            <tbody id="overviewbody">
                <tr><td id="totalActiveUsers">
This chart shows the pca position of all users. It allows an admin to quickly find clusters and discover trends. The top rated (insight) points are highlighted in blue.
<script type="text/javascript+protovis">
var data = eval({{all_points|safe}})//pv.range(100).map(function(x) {return {x: x, y: Math.random(), z: Math.pow(10, 2 * Math.random())};});
/* Sizing and scales. */
var w = 600,
    h = 600,
    x = pv.Scale.linear({{min_x}}, {{max_x}}).range(0, w),
    y = pv.Scale.linear({{min_y}}, {{max_y}}).range(0, h),
    c = pv.Scale.linear(0, 50).range("red", "blue");

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(20)
    .right(10)
    .top(5);

/* Y-axis and ticks. */
vis.add(pv.Rule)
    .data(y.ticks())
    .bottom(y)
    .strokeStyle(function(d) d ? "#eee" : "#000")
  .anchor("left").add(pv.Label)
    .visible(function(d) d > -2.5 && d < 2.5)
    .text(y.tickFormat);

/* X-axis and ticks. */
vis.add(pv.Rule)
    .data(x.ticks())
    .left(x)
    .strokeStyle(function(d) d ? "#eee" : "#000")
  .anchor("bottom").add(pv.Label)
    .visible(function(d) d > -2.5 && d < 2.5)
    .text(x.tickFormat);

/* The dot plot! */
vis.add(pv.Panel)
    .data(data)
  .add(pv.Dot)
    .left(function(d) x(d.x))
    .bottom(function(d) y(d.y))
    .strokeStyle(function(d) c(d.z))
    .fillStyle(function() this.strokeStyle().alpha(.2))
    .size(function(d) d.z)
    .title(function(d) d.z.toFixed(1));

vis.render();

    </script>
	</td></tr>	
            </tbody>
			<tbody id="overviewcontent">
			</tbody>
        </table>
		 <table id="users" class="overviewTable" style="padding-top:4px;">
        	<thead>
            	<tr>
                <th>All points (agreement)</th>
                </tr>
            </thead>
            <tbody id="overviewbody">
                <tr><td id="totalActiveUsers">
				This chart shows the pca position of all users. It allows an admin to quickly find clusters and discover trends. The top rated (agreement) points are highlighted in blue.

<script type="text/javascript+protovis">
var data = eval({{agreement|safe}})//pv.range(100).map(function(x) {return {x: x, y: Math.random(), z: Math.pow(10, 2 * Math.random())};});
/* Sizing and scales. */
var w = 600,
    h = 600,
    x = pv.Scale.linear({{min_x}}, {{max_x}}).range(0, w),
    y = pv.Scale.linear({{min_y}}, {{max_y}}).range(0, h),
    c = pv.Scale.linear(0, 50).range("red", "blue");

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(20)
    .right(10)
    .top(5);

/* Y-axis and ticks. */
vis.add(pv.Rule)
    .data(y.ticks())
    .bottom(y)
    .strokeStyle(function(d) d ? "#eee" : "#000")
  .anchor("left").add(pv.Label)
    .visible(function(d) d > -2.5 && d < 2.5)
    .text(y.tickFormat);

/* X-axis and ticks. */
vis.add(pv.Rule)
    .data(x.ticks())
    .left(x)
    .strokeStyle(function(d) d ? "#eee" : "#000")
  .anchor("bottom").add(pv.Label)
    .visible(function(d) d > -2.5 && d < 2.5)
    .text(x.tickFormat);

/* The dot plot! */
vis.add(pv.Panel)
    .data(data)
  .add(pv.Dot)
    .left(function(d) x(d.x))
    .bottom(function(d) y(d.y))
    .strokeStyle(function(d) c(d.z))
    .fillStyle(function() this.strokeStyle().alpha(.2))
    .size(function(d) d.z)
    .title(function(d) d.z.toFixed(1));

vis.render();

    </script>
	</td></tr>	
            </tbody>
			<tbody id="overviewcontent">
			</tbody>
        </table>
		 <table id="users" class="overviewTable" style="padding-top:4px;">
        	<thead>
            	<tr>
                <th>All points (sampling)</th>
                </tr>
            </thead>
            <tbody id="overviewbody">
                <tr><td id="totalActiveUsers">
This chart shows how the sampling system is working, basically conveys the amount of "error" in the score.
<script type="text/javascript+protovis">
var data = eval({{sampling|safe}})//pv.range(100).map(function(x) {return {x: x, y: Math.random(), z: Math.pow(10, 2 * Math.random())};});
/* Sizing and scales. */
var w = 600,
    h = 600,
    x = pv.Scale.linear({{min_x}}, {{max_x}}).range(0, w),
    y = pv.Scale.linear({{min_y}}, {{max_y}}).range(0, h),
    c = pv.Scale.linear(0, 50).range("red", "blue");

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(20)
    .right(10)
    .top(5);

/* Y-axis and ticks. */
vis.add(pv.Rule)
    .data(y.ticks())
    .bottom(y)
    .strokeStyle(function(d) d ? "#eee" : "#000")
  .anchor("left").add(pv.Label)
    .visible(function(d) d > -2.5 && d < 2.5)
    .text(y.tickFormat);

/* X-axis and ticks. */
vis.add(pv.Rule)
    .data(x.ticks())
    .left(x)
    .strokeStyle(function(d) d ? "#eee" : "#000")
  .anchor("bottom").add(pv.Label)
    .visible(function(d) d > -2.5 && d < 2.5)
    .text(x.tickFormat);

/* The dot plot! */
vis.add(pv.Panel)
    .data(data)
  .add(pv.Dot)
    .left(function(d) x(d.x))
    .bottom(function(d) y(d.y))
    .strokeStyle(function(d) c(d.z))
    .fillStyle(function() this.strokeStyle().alpha(.2))
    .size(function(d) d.z)
    .title(function(d) d.z.toFixed(1));

vis.render();

    </script>
	</td></tr>	
            </tbody>
			<tbody id="overviewcontent">
			</tbody>
        </table>
{% endblock %}
