/* Entire Page */

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font: 13px "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #000000;
}

form {
	margin: 0;
	padding: 0;
}

form label {
    width: 100px;
    float: left;
    display: block;
	text-align: right;
	margin-top: 4px;
	margin-right: 20px;
}

form input {
    margin-left: 20px;
}

input, textarea {
    margin-left: 40px;
	padding: 5px;
	border: 1px solid #626262;
	font: normal 10pt "Trebuchet MS", Helvetica, Arial, sans-serif;
}

a {
	color: #003399;
}

a:hover {
	text-decoration: none;
	color: #FF7400;
}

img {
	border: none;
}

/* Header */

#header {
    width: 950px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

/* Navigation Bar */

#navbar {
	width: 950px;
	height: 50px;
	margin: 0 auto;
	background: #6AA2FD url(../images/navbar.jpg);
}

#navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#navbar li {
	display: inline;
}

#navbar a {
	display: block;
	float: left;
	margin-top: 8px;
	padding: 5px 30px 5px 30px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
}

#navbar a:hover {
	text-decoration: underline;
}

#navbar .curpage {
}

#navbar .curpage a {
	color: #000000;
}

/* Page */

#main {
	width: 890px;
	margin: 0 auto;
	padding: 30px 0;
}

/* Footer */

#footer {
	clear: both;
	width: 950px;
	margin: 0 auto;
	padding: 30px 0;
	background: url(../images/bar.jpg) no-repeat;
}

#footer p {
	margin: 0 0 5px 0;
	text-align: center;
	line-height: normal;
	font-size: .9em;
}

#footer a {
	text-decoration: none;
}
