{% extends "registration/base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
	<h1>Reset your password</h1>
	
	{% if validlink %}
    	<p>Hi {{username}}, enter a new password below:</p>

    	{% if form.errors %}
    		<p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
    	{% endif %}

    	<form action="" method="post">
    			<label for="id_new_password1">New password:</label>
    			<input type="text" id="password" name="password"><br/>
				<input type="hidden" name="link" id="link" value="{{link}}" />
    		<p class="submit"><input type="submit" value="Reset password"></p>
    	</form>
	{% else %}
    	<p>Password reset link invalid.</p>
	{% endif %}
{% endblock %}