{% extends "registration/base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
	<h1>Reset your password</h1>
	<p>If you've forgotten your password, enter the email address you registered with below and we'll send you an email with instructions to reset your password.</p>

	{% if form.errors %}
		<p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
	{% endif %}

	<form action="{% url django.contrib.auth.views.password_reset %}" method="post" class="wide">
		<p>
			<label for="id_email">Email:</label>
			{% if form.email.errors %}
				<p class="errors">{{ form.email.errors.as_text }}</p>
			{% endif %}
			{{ form.email }}
		</p>
		<p class="submit"><input type="submit" value="Reset password"></p>
	</form>
{% endblock %}