{% extends "registration/base.html" %}

{% block title %}Password change{% endblock %}

{% block content %}
	<h1>Change your password</h1>

	{% if form.errors %}
		<p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
	{% endif %}

	<form action="{% url django.contrib.auth.views.password_change %}" method="post" class="wide">
		<p>
			<label for="id_old_password">Old password:</label>
			{% if form.old_password.errors %}
				<p class="errors">{{ form.old_password.errors.as_text }}</p>
			{% endif %}
			{{ form.old_password }}
		</p>
		<p>
			<label for="id_new_password1">New password:</label>
			{% if form.new_password1.errors %}
				<p class="errors">{{ form.new_password1.errors.as_text }}</p>
			{% endif %}
			{{ form.new_password1 }}
		</p>
		<p>
			<label for="id_old_password">Confirm new password:</label>
			{% if form.new_password2.errors %}
				<p class="errors">{{ form.new_password2.errors.as_text }}</p>
			{% endif %}
			{{ form.new_password2 }}
		</p>
		<p class="submit"><input type="submit" value="Change password"></p>
	</form>
{% endblock %}